*.class
*.iml
*.iws
boot-jdbc/target/
common/target/
business/target/
site/target/
target/
impl/logs/
*.jar
*sentrycache*
.idea/
.gradle/
out/
boot-jdbc/build/**/*.*
common/build/**/*.*
site/build/**/*
business/build/**/*.*

# temp ignore
logs/
*.log
*.cache
*.diff
*.patch
*.tmp
*.swp
.DS_Store
/boot-jdbc/build/
/business/build/
/out/
/site/build/
/site/logs/
!/gradle/wrapper/gradle-wrapper.jar
/pid.file
classes/