<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.authentication.db.dao.ActionResourcesDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.authentication.db.entity.ActionResourcesDO">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="iconUrl" column="iconUrl"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="leafNode" column="leafNode"/>
        <result property="openFlag" column="openFlag"/>
        <result property="remark" column="remark"/>
        <result property="parentId" column="parentId"/>
        <result property="orderNo" column="orderNo"/>
        <result property="isDeleted" column="isDeleted"/>
        <result property="creator" column="creator"/>
        <result property="creatorName" column="creatorName"/>
        <result property="created" column="created"/>
        <result property="updater" column="updater"/>
        <result property="updaterName" column="updaterName"/>
        <result property="updated" column="updated"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,`code`
        ,`name`
        ,`url`
        ,`iconUrl`
        ,`type`
        ,`status`
        ,`leafNode`
        ,`openFlag`
        ,`remark`
        ,`parentId`
        ,`orderNo`
        ,`isDeleted`
        ,`creator`
        ,`creatorName`
        ,`created`
        ,`updater`
        ,`updaterName`
        ,`updated`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO ActionResources
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.code!=null"> `code`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.url!=null"> `url`,</if>
            <if test="pojo.iconUrl!=null"> `iconUrl`,</if>
            <if test="pojo.type!=null"> `type`,</if>
            <if test="pojo.status!=null"> `status`,</if>
            <if test="pojo.leafNode!=null"> `leafNode`,</if>
            <if test="pojo.openFlag!=null"> `openFlag`,</if>
            <if test="pojo.remark!=null"> `remark`,</if>
            <if test="pojo.parentId!=null"> `parentId`,</if>
            <if test="pojo.orderNo!=null"> `orderNo`,</if>
            <if test="pojo.creator!=null"> `creator`,</if>
            <if test="pojo.creatorName!=null"> `creatorName`,</if>
            <if test="pojo.updater!=null"> `updater`,</if>
            <if test="pojo.updaterName!=null"> `updaterName`,</if>
            `created`,
            `updated`,
            `isDeleted`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.code!=null">#{pojo.code},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.url!=null">#{pojo.url},</if>
            <if test="pojo.iconUrl!=null">#{pojo.iconUrl},</if>
            <if test="pojo.type!=null">#{pojo.type},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
            <if test="pojo.leafNode!=null">#{pojo.leafNode},</if>
            <if test="pojo.openFlag!=null">#{pojo.openFlag},</if>
            <if test="pojo.remark!=null">#{pojo.remark},</if>
            <if test="pojo.parentId!=null">#{pojo.parentId},</if>
            <if test="pojo.orderNo!=null">#{pojo.orderNo},</if>
            <if test="pojo.creator!=null">#{pojo.creator},</if>
            <if test="pojo.creatorName!=null">#{pojo.creatorName},</if>
            <if test="pojo.updater!=null">#{pojo.updater},</if>
            <if test="pojo.updaterName!=null">#{pojo.updaterName},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now()),
            0
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE ActionResources
        <set>
            <if test="pojo.code!=null">`code` = #{pojo.code},</if>
            <if test="pojo.name!=null">`name` = #{pojo.name},</if>
            <if test="pojo.url!=null">`url` = #{pojo.url},</if>
            <if test="pojo.iconUrl!=null">`iconUrl` = #{pojo.iconUrl},</if>
            <if test="pojo.type!=null">`type` = #{pojo.type},</if>
            <if test="pojo.status!=null">`status` = #{pojo.status},</if>
            <if test="pojo.leafNode!=null">`leafNode` = #{pojo.leafNode},</if>
            <if test="pojo.openFlag!=null">`openFlag` = #{pojo.openFlag},</if>
            <if test="pojo.remark!=null">`remark` = #{pojo.remark},</if>
            <if test="pojo.parentId!=null">`parentId` = #{pojo.parentId},</if>
            <if test="pojo.orderNo!=null">`orderNo` = #{pojo.orderNo},</if>
            <if test="pojo.updaterName!=null">`updaterName` = #{pojo.updaterName},</if>
            <if test="pojo.updater!=null">`updater` = #{pojo.updater},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id}
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE ActionResources
        SET `isDeleted` = 1,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id}
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `ActionResources`
        WHERE `id` = #{id}
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `ActionResources`
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.code != null"> AND `code` = #{pojo.code} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `ActionResources`
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `ActionResources`
        <include refid="pageQueryWhereCommon"/>
        order by `orderNo`
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (`name` like concat('%', #{pojo.key}, '%'))
        </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>

    <select id="queryByUserId" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT
            DISTINCT res.*
        FROM
            ActionResources res ,
            RoleResources rr
        WHERE
            res.isDeleted = 0
        AND
            res.id = rr.resourceId
        AND rr.roleId IN(
            SELECT
                r.id
            FROM
                Roles r ,
                UserRoles ur
            WHERE
                r.isDeleted = 0
            AND r.id = ur.roleId
            AND ur.userId = #{userId}
        )
        ORDER BY res.parentId, res.orderNo
    </select>


    <!-- 加载所有的 -->
    <select id="queryTreeResourcesInfo" resultType="Map" parameterType="Map">
        SELECT A1.id, A1.`name`, A1.parentId
        FROM ActionResources A1
        WHERE A1.`status` = 1
        AND A1.isDeleted = 0
        ORDER BY A1.orderNo
    </select>

    <update id="modifyParentLeft" parameterType="Map">
        UPDATE ActionResources
        SET `leafNode` = #{pojo.leafNode},
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{pojo.parentId}
    </update>


    <select id="qureyParentByIdInfoCnt" resultType="java.lang.Integer"  parameterType="java.lang.Integer" >
        SELECT COUNT(A1.id)
        FROM ActionResources A1
        WHERE A1.parentId = #{id}
        AND A1.isDeleted = 0
        limit 1
    </select>
</mapper>