<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.ContractFlowDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.ContractFlowDO">
        <result property="id" column="id"/>
        <result property="contractId" column="contractId"/>
        <result property="flowId" column="flowId"/>
        <result property="unitPrice" column="unitPrice"/>
        <result property="ticketStatus" column="ticketStatus"/>
        <result property="lastUnitPrice" column="lastUnitPrice"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,`contractId`
        ,`flowId`
        ,`unitPrice`
        ,`ticketStatus`
        ,`lastUnitPrice`
        ,`creator`
        ,`created`
        ,`updated`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO ContractFlow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.contractId!=null"> `contractId`,</if>
            <if test="pojo.flowId!=null"> `flowId`,</if>
            <if test="pojo.unitPrice!=null"> `unitPrice`,</if>
            <if test="pojo.ticketStatus!=null"> `ticketStatus`,</if>
            <if test="pojo.lastUnitPrice!=null"> `lastUnitPrice`,</if>
            `created`,
            `updated`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.contractId!=null">#{pojo.contractId},</if>
            <if test="pojo.flowId!=null">#{pojo.flowId},</if>
            <if test="pojo.unitPrice!=null">#{pojo.unitPrice},</if>
            <if test="pojo.ticketStatus!=null">#{pojo.ticketStatus},</if>
            <if test="pojo.lastUnitPrice!=null">#{pojo.lastUnitPrice},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now())
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE ContractFlow
        <set>
            <if test="pojo.contractId!=null">`contractId`= #{pojo.contractId},</if>
            <if test="pojo.flowId!=null">`flowId`= #{pojo.flowId},</if>
            <if test="pojo.unitPrice!=null">`unitPrice`= #{pojo.unitPrice},</if>
            <if test="pojo.ticketStatus!=null">`ticketStatus`= #{pojo.ticketStatus},</if>
            <if test="pojo.lastUnitPrice!=null">`lastUnitPrice`= #{pojo.lastUnitPrice},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE ContractFlow
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `ContractFlow`
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `ContractFlow`
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.flowId != null and pojo.contractId != null "> AND `flowId` = #{pojo.flowId} AND `contractId` = #{pojo.contractId}  </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `ContractFlow`
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `ContractFlow`
        <include refid="pageQueryWhereCommon"/>
        order by `id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` = #{pojo.id} </if>
        <if test="pojo.contractId != null"> AND `contractId` = #{pojo.contractId} </if>
        <!--<if test="pojo.key != null">
            AND (`partyA` like concat('%', #{pojo.key}, '%') or `partyB` like concat('%', #{pojo.key}, '%')  or `name` like concat('%', #{pojo.key}, '%')  or `contractNo` like concat('%', #{pojo.key}, '%')  )
        </if>-->
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>