<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.ContractDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.ContractDO">
        <result property="id" column="id"/>
        <result property="contractNo" column="contractNo"/>
        <result property="name" column="name"/>
        <result property="partyA" column="partyA"/>
        <result property="partyB" column="partyB"/>
        <result property="validSDate" column="validSDate"/>
        <result property="validEDate" column="validEDate"/>
        <result property="deposit" column="deposit"/>
        <result property="depositDate" column="depositDate"/>
        <result property="depositFinanceDate" column="depositFinanceDate"/>
        <result property="type" column="type"/>
        <result property="signDepartment" column="signDepartment"/>
        <result property="signPerson" column="signPerson"/>
        <result property="cheyun" column="cheyun"/>
        <result property="status" column="status"/>
        <result property="description" column="description"/>
        <result property="creator" column="creator"/>
        <result property="goodsType" column="goodsType"/>
        <result property="goodsSubType" column="goodsSubType"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
        <result property="settleType" column="settleType"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,`contractNo`
        ,`name`
        ,`partyA`
        ,`partyB`
        ,`validSDate`
        ,`validEDate`
        ,`deposit`
        ,`depositDate`
        ,`depositFinanceDate`
        ,`type`
        ,`signDepartment`
        ,`signPerson`
        ,`cheyun`
        ,`status`
        ,`description`
        , goodsType
        , goodsSubType
        ,`creator`
        ,`created`
        ,`updated`
        ,`settleType`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO Contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.contractNo!=null"> `contractNo`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.partyA!=null"> `partyA`,</if>
            <if test="pojo.partyB!=null"> `partyB`,</if>
            <if test="pojo.validSDate!=null"> `validSDate`,</if>
            <if test="pojo.validEDate!=null"> `validEDate`,</if>
            <if test="pojo.deposit!=null"> `deposit`,</if>
            <if test="pojo.depositDate!=null"> `depositDate`,</if>
            <if test="pojo.depositFinanceDate!=null"> `depositFinanceDate`,</if>
            <if test="pojo.type!=null"> `type`,</if>
            <if test="pojo.signDepartment!=null"> `signDepartment`,</if>
            <if test="pojo.signPerson!=null"> `signPerson`,</if>
            <if test="pojo.cheyun!=null"> `cheyun`,</if>
            <if test="pojo.status!=null"> `status`,</if>
            <if test="pojo.description!=null"> `description`,</if>
            <if test="pojo.goodsType!=null"> `goodsType`,</if>
            <if test="pojo.goodsSubType!=null"> `goodsSubType`,</if>
            <if test="pojo.settleType!=null"> `settleType`,</if>
            `created`,
            `updated`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.contractNo!=null">#{pojo.contractNo},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.partyA!=null">#{pojo.partyA},</if>
            <if test="pojo.partyB!=null">#{pojo.partyB},</if>
            <if test="pojo.validSDate!=null">#{pojo.validSDate},</if>
            <if test="pojo.validEDate!=null">#{pojo.validEDate},</if>
            <if test="pojo.deposit!=null">#{pojo.deposit},</if>
            <if test="pojo.depositDate!=null">#{pojo.depositDate},</if>
            <if test="pojo.depositFinanceDate!=null">#{pojo.depositFinanceDate},</if>
            <if test="pojo.type!=null">#{pojo.type},</if>
            <if test="pojo.signDepartment!=null">#{pojo.signDepartment},</if>
            <if test="pojo.signPerson!=null">#{pojo.signPerson},</if>
            <if test="pojo.cheyun!=null">#{pojo.cheyun},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
            <if test="pojo.description!=null">#{pojo.description},</if>
            <if test="pojo.goodsType!=null">#{pojo.goodsType},</if>
            <if test="pojo.goodsSubType!=null">#{pojo.goodsSubType},</if>
            <if test="pojo.settleType!=null">#{pojo.settleType},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now())
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE Contract
        <set>
            <if test="pojo.contractNo!=null">`contractNo`= #{pojo.contractNo},</if>
            <if test="pojo.name!=null">`name`= #{pojo.name},</if>
            <if test="pojo.partyA!=null">`partyA`= #{pojo.partyA},</if>
            <if test="pojo.partyB!=null">`partyB`= #{pojo.partyB},</if>
            <if test="pojo.validSDate!=null">`validSDate`= #{pojo.validSDate},</if>
            <if test="pojo.validEDate!=null">`validEDate`= #{pojo.validEDate},</if>
            <if test="pojo.deposit!=null">`deposit` = #{pojo.deposit},</if>
            <if test="pojo.depositDate!=null">`depositDate` = #{pojo.depositDate},</if>
            <if test="pojo.depositFinanceDate!=null">`depositFinanceDate` = #{pojo.depositFinanceDate},</if>
            <if test="pojo.type!=null">`type` = #{pojo.type},</if>
            <if test="pojo.signDepartment!=null">`signDepartment` = #{pojo.signDepartment},</if>
            <if test="pojo.signPerson!=null">`signPerson` = #{pojo.signPerson},</if>
            <if test="pojo.cheyun!=null">`cheyun` = #{pojo.cheyun},</if>
            <if test="pojo.status!=null">`status` = #{pojo.status},</if>
            <if test="pojo.description!=null">`description` = #{pojo.description},</if>
            <if test="pojo.goodsType!=null">`goodsType` = #{pojo.goodsType},</if>
            <if test="pojo.goodsSubType!=null">`goodsSubType` = #{pojo.goodsSubType},</if>
            <if test="pojo.settleType!=null">`settleType` = #{pojo.settleType},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE Contract
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `Contract`
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `Contract`
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.contractNo != null"> AND `contractNo` = #{pojo.contractNo} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `Contract`
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `Contract`
        <include refid="pageQueryWhereCommon"/>
        order by `id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (`partyA` like concat('%', #{pojo.key}, '%') or `partyB` like concat('%', #{pojo.key}, '%')  or `name` like concat('%', #{pojo.key}, '%')  or `contractNo` like concat('%', #{pojo.key}, '%')  )
        </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>