<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.DangerZoneSpeedDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.DangerZoneSpeedDO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="coordinate" column="coordinate"/>
        <result property="minSpeed" column="minSpeed"/>
        <result property="maxSpeed" column="maxSpeed"/>
        <result property="status" column="status"/>
        <result property="msgTemplate" column="msgTemplate"/>
        <result property="description" column="description"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,`name`
        ,`coordinate`
        ,`minSpeed`
        ,`maxSpeed`
        ,`status`
        ,`description`
        ,msgTemplate
        ,`creator`
        ,`created`
        ,`updated`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO DangerZoneSpeed
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.coordinate!=null"> `coordinate`,</if>
            <if test="pojo.minSpeed!=null"> `minSpeed`,</if>
            <if test="pojo.maxSpeed!=null"> `maxSpeed`,</if>
            <if test="pojo.status!=null"> `status`,</if>
            <if test="pojo.msgTemplate!=null"> `msgTemplate`,</if>
            <if test="pojo.description!=null"> `description`,</if>
            `created`,
            `updated`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.coordinate!=null">#{pojo.coordinate},</if>
            <if test="pojo.minSpeed!=null">#{pojo.minSpeed},</if>
            <if test="pojo.maxSpeed!=null">#{pojo.maxSpeed},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
            <if test="pojo.msgTemplate!=null">#{pojo.msgTemplate},</if>
            <if test="pojo.description!=null">#{pojo.description},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now())
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE DangerZoneSpeed
        <set>
            <if test="pojo.name!=null">`name` = #{pojo.name},</if>
            <if test="pojo.coordinate!=null">`coordinate` = #{pojo.coordinate},</if>
            <if test="pojo.minSpeed!=null">`minSpeed` = #{pojo.minSpeed},</if>
            <if test="pojo.maxSpeed!=null">`maxSpeed` = #{pojo.maxSpeed},</if>
            <if test="pojo.status!=null">`status` = #{pojo.status},</if>
            <if test="pojo.msgTemplate!=null">`msgTemplate` = #{pojo.msgTemplate},</if>
            <if test="pojo.description!=null">`description` = #{pojo.description},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE DangerZoneSpeed
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `DangerZoneSpeed`
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `DangerZoneSpeed`
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.name != null"> AND `name` = #{pojo.name} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `DangerZoneSpeed`
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `DangerZoneSpeed`
        <include refid="pageQueryWhereCommon"/>
        order by `id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (`name` like concat('%', #{pojo.key}, '%') )
        </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>