<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.LeftDispatchInfoDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.LeftDispatchInfoDO">
        <result property="id" column="id"/>
        <result property="customerTaskFlowId" column="customerTaskFlowId"/>
        <result property="dispatchWeight" column="dispatchWeight"/>
        <result property="bookSTime" column="bookSTime"/>
        <result property="bookETime" column="bookETime"/>
        <result property="specialTip" column="specialTip"/>
        <result property="minShipWeight" column="minShipWeight"/>
        <result property="maxShipWeight" column="maxShipWeight"/>
        <result property="maxShipNum" column="maxShipNum"/>
        <result property="waterLevel" column="waterLevel"/>
        <result property="status" column="status"/>
        <result property="taskStatus" column="taskStatus"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
        <result property="isDeleted" column="isDeleted"/>
        <result property="updater" column="updater"/>
        <result property="goodsName" column="goodsName"/>
        <result property="startPortName" column="startPortName"/>
        <result property="endPortName" column="endPortName"/>
        <result property="customerName" column="customerName"/>
        <result property="flowName" column="flowName"/>
        <result property="loadingTime" column="loadingTime"/>
        <result property="dischargeTime" column="dischargeTime"/>

        <result property="totalWeight" column="totalWeight"/>
        <result property="leftWeight" column="leftWeight"/>
        <result property="flowTaskNo" column="flowTaskNo"/>
        <result property="taskNo" column="taskNo"/>

    </resultMap>

    <resultMap id="LeftDispatch4CheckColumnMap" type="com.xingyi.logistic.business.db.entity.LeftDispatch4CheckDO">
        <result property="id" column="id"/>
        <result property="goodsType" column="goodsType"/>
        <result property="loadingTime" column="loadingTime"/>
        <result property="startPortName" column="startPortName"/>
        <result property="endPortName" column="endPortName"/>
        <result property="dispatchWeight" column="dispatchWeight"/>
        <result property="preLoadChecked" column="preLoadChecked"/>
        <result property="shipCountChecked" column="shipCountChecked"/>
        <result property="preLoadUnchecked" column="preLoadUnchecked"/>
        <result property="shipCountUnchecked" column="shipCountUnchecked"/>
        <result property="taskStatus" column="taskStatus"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,`customerTaskFlowId`
        ,`dispatchWeight`
        ,`bookSTime`
        ,`bookETime`
        ,`specialTip`
        ,`minShipWeight`
        ,`maxShipWeight`
        ,`maxShipNum`
        ,`waterLevel`
        ,`status`
        ,`taskStatus`
        ,`creator`
        ,`created`
        ,`updated`
        ,`isDeleted`
        ,`updater`
        , '' goodsName
        , '' startPortName
        , '' endPortName
        , '' customerName
        , '' flowName
        , '' loadingTime
        , '' dischargeTime

        , '' totalWeight
        , '' leftWeight
        , '' flowTaskNo
        , '' taskNo

    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO LeftDispatchInfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.customerTaskFlowId!=null"> `customerTaskFlowId`,</if>
            <if test="pojo.dispatchWeight!=null"> `dispatchWeight`,</if>
            <if test="pojo.bookSTime!=null"> `bookSTime`,</if>
            <if test="pojo.bookETime!=null"> `bookETime`,</if>
            <if test="pojo.specialTip!=null"> `specialTip`,</if>
            <if test="pojo.minShipWeight!=null"> `minShipWeight`,</if>
            <if test="pojo.maxShipWeight!=null"> `maxShipWeight`,</if>
            <if test="pojo.maxShipNum!=null"> `maxShipNum`,</if>
            <if test="pojo.waterLevel!=null"> `waterLevel`,</if>
            <if test="pojo.creator!=null"> `creator`,</if>
            <if test="pojo.updater!=null"> `updater`,</if>
            <if test="pojo.taskStatus!=null"> `taskStatus`,</if>
            <if test="pojo.status!=null"> `status`,</if>
            `created`,
            `updated`,
            `isDeleted`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.customerTaskFlowId!=null">#{pojo.customerTaskFlowId},</if>
            <if test="pojo.dispatchWeight!=null">#{pojo.dispatchWeight},</if>
            <if test="pojo.bookSTime!=null">#{pojo.bookSTime},</if>
            <if test="pojo.bookETime!=null">#{pojo.bookETime},</if>
            <if test="pojo.specialTip!=null">#{pojo.specialTip},</if>
            <if test="pojo.minShipWeight!=null">#{pojo.minShipWeight},</if>
            <if test="pojo.maxShipWeight!=null">#{pojo.maxShipWeight},</if>
            <if test="pojo.maxShipNum!=null">#{pojo.maxShipNum},</if>
            <if test="pojo.waterLevel!=null">#{pojo.waterLevel},</if>
            <if test="pojo.creator!=null">#{pojo.creator},</if>
            <if test="pojo.updater!=null">#{pojo.updater},</if>
            <if test="pojo.taskStatus!=null">#{pojo.taskStatus},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now()),
            0
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE LeftDispatchInfo
        <set>
            <if test="pojo.customerTaskFlowId!=null">`customerTaskFlowId` = #{pojo.customerTaskFlowId},</if>
            <if test="pojo.dispatchWeight!=null">`dispatchWeight` = #{pojo.dispatchWeight},</if>
            <if test="pojo.bookSTime!=null">`bookSTime` = #{pojo.bookSTime},</if>
            <if test="pojo.bookETime!=null">`bookETime` = #{pojo.bookETime},</if>
            <if test="pojo.specialTip!=null">`specialTip` = #{pojo.specialTip},</if>
            <if test="pojo.minShipWeight!=null">`minShipWeight` = #{pojo.minShipWeight},</if>
            <if test="pojo.maxShipWeight!=null">`maxShipWeight` = #{pojo.maxShipWeight},</if>
            <if test="pojo.maxShipNum!=null">`maxShipNum` = #{pojo.maxShipNum},</if>
            <if test="pojo.waterLevel!=null">`waterLevel` = #{pojo.waterLevel},</if>
            <if test="pojo.status!=null">`status` = #{pojo.status},</if>
            <if test="pojo.taskStatus!=null">`taskStatus` = #{pojo.taskStatus},</if>
            <if test="pojo.updater!=null">`updater` = #{pojo.updater},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id}
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE LeftDispatchInfo
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id}
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `LeftDispatchInfo`
        WHERE `id` = #{id}
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `LeftDispatchInfo`
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.customerTaskFlowId != null"> AND `customerTaskFlowId` = #{pojo.customerTaskFlowId} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(A1.id)
        FROM LeftDispatchInfo A1
        LEFT JOIN CustomerTaskFlow A2 ON A1.customerTaskFlowId=A2.id
        LEFT JOIN CustomerTask A3 ON A3.id=A2.taskId
        LEFT JOIN Customer A4 ON A4.id = A3.customerId
        LEFT JOIN Flow A5 ON A5.id = A2.flowId
        LEFT JOIN `Port` A6 ON A6.id=A2.startPortId
        Left join `Port` A7 ON A7.id = A2.endPortId
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        SELECT A1.*, A2.goodsName, A6.`name` AS startPortName, A7.`name` AS endPortName, A4.fullName AS customerName,
        A5.`name` AS flowName, A2.loadingTime, A2.dischargeTime,
        A2.totalWeight,A2.totalWeight - (case when e.preLoad is null then 0 else e.preLoad end) as leftWeight,A2.taskNo flowTaskNo,
        A1.taskStatus,A3.taskNo
        FROM LeftDispatchInfo A1
        LEFT JOIN CustomerTaskFlow A2 ON A1.customerTaskFlowId=A2.id
        LEFT JOIN CustomerTask A3 ON A3.id=A2.taskId
        LEFT JOIN Customer A4 ON A4.id = A3.customerId
        LEFT JOIN Flow A5 ON A5.id = A2.flowId
        LEFT JOIN `Port` A6 ON A6.id=A2.startPortId
        Left join `Port` A7 ON A7.id = A2.endPortId
        Left join ( SELECT aa.customerTaskFlowId, sum(preLoad) as preLoad
        from DispatchInfo aa
        where aa.isDeleted = 0 and aa.status >= 0
        group by aa.customerTaskFlowId
        ) e on e.customerTaskFlowId = A2.id
        <include refid="pageQueryWhereCommon"/>
        order by A1.`id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where A1.`isDeleted` = 0
        <if test="pojo.id != null"> AND A1.`id` = #{pojo.id} </if>
        <if test="pojo.appFlag != null">
            AND UNIX_TIMESTAMP(now()) BETWEEN A1.bookSTime AND A1.bookETime
            AND A1.taskStatus != 2
            AND A1.status = 2
        </if>
        <if test="pojo.key != null">
            AND (A2.goodsName like concat('%', #{pojo.key}, '%') OR A4.fullName like concat('%', #{pojo.key}, '%'))
        </if>
    </sql>

    <select id="queryLeftDispatch4CheckCount" resultType="java.lang.Integer" parameterType="Map">
        select count(1)
        from LeftDispatchInfo a
        inner join CustomerTaskFlow b on b.id=a.customerTaskFlowId
        <include refid="queryLeftDispatch4CheckWhereCommon"/>
    </select>

    <select id="queryLeftDispatch4CheckList" resultMap="LeftDispatch4CheckColumnMap" parameterType="Map">
        select a.id, b.goodsName, b.goodsType, b.loadingTime, c.name as startPortName, d.name as endPortName, a.dispatchWeight,
            (case when e.preLoadChecked is null then 0 else e.preLoadChecked end) as preLoadChecked,
            (case when e.shipCountChecked is null then 0 else e.shipCountChecked end) as shipCountChecked,
            (case when f.preLoadUnchecked is null then 0 else f.preLoadUnchecked end) as preLoadUnchecked,
            (case when f.shipCountUnchecked is null then 0 else f.shipCountUnchecked end) as shipCountUnchecked, a.taskStatus
        from LeftDispatchInfo a
        inner join CustomerTaskFlow b on b.id=a.customerTaskFlowId
        left join Port c on c.id=b.startPortId
        left join Port d on d.id=b.endPortId
        left join (select leftDispatchId, sum(preLoad) as preLoadChecked, count(0) as shipCountChecked
                    from Reservation
                    where checkStatus=1
                    group by leftDispatchId) e on e.leftDispatchId = a.id
        left join (select leftDispatchId, sum(preLoad) as preLoadUnchecked, count(0) as shipCountUnchecked
                    from Reservation
                    where checkStatus=0
                    group by leftDispatchId) f on f.leftDispatchId = a.id
        <include refid="queryLeftDispatch4CheckWhereCommon"/>
    </select>

    <sql id="queryLeftDispatch4CheckWhereCommon">
        where a.`isDeleted` = 0
        <if test="pojo.customerTaskFlowId != null"> AND a.`customerTaskFlowId` = #{pojo.customerTaskFlowId}</if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>