<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.OperationLogDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.OperationLogDO">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="bizType" column="bizType"/>
        <result property="operationType" column="operationType"/>
        <result property="created" column="created"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,`userId`
        ,`bizType`
        ,`operationType`
        ,`requestParam`
        ,`responseCode`
        ,`responseData`
        ,`created`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO OperationLog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.userId!=null"> `userId`,</if>
            <if test="pojo.bizType!=null"> `bizType`,</if>
            <if test="pojo.operationType!=null"> `operationType`,</if>
            <if test="pojo.requestParam!=null"> `requestParam`,</if>
            <if test="pojo.responseCode!=null"> `responseCode`,</if>
            <if test="pojo.responseData!=null"> `responseData`,</if>
            `created`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.userId!=null">#{pojo.userId},</if>
            <if test="pojo.bizType!=null">#{pojo.bizType},</if>
            <if test="pojo.operationType!=null">#{pojo.operationType},</if>
            <if test="pojo.requestParam!=null">#{pojo.requestParam},</if>
            <if test="pojo.responseCode!=null">#{pojo.responseCode},</if>
            <if test="pojo.responseData!=null">#{pojo.responseData},</if>
            UNIX_TIMESTAMP(now())
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE OperationLog
        <set>
            <if test="pojo.userId!=null">`userId` = #{pojo.userId},</if>
            <if test="pojo.bizType!=null">`bizType` = #{pojo.bizType},</if>
            <if test="pojo.operationType!=null">`operationType` = #{pojo.operationType},</if>
            <if test="pojo.requestParam!=null">`requestParam` = #{pojo.requestParam},</if>
            <if test="pojo.responseCode!=null">`responseCode` = #{pojo.responseCode},</if>
            <if test="pojo.responseData!=null">`responseData` = #{pojo.responseData},</if>
        </set>
        WHERE `id` = #{pojo.id}
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE OperationLog
        SET `isDeleted` = 1
        WHERE `id` = #{id}
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `OperationLog`
        WHERE `id` = #{id}
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT SUM(0) FROM DUAL
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `OperationLog`
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `OperationLog`
        <include refid="pageQueryWhereCommon"/>
        order by `id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where `isDeleted` = 0
        <if test="pojo.userId != null"> AND `userId` = #{pojo.userId} </if>
        <if test="pojo.key != null">
            AND (`bizType` like concat('%', #{pojo.key}, '%')
                 or
                 `operationType` like concat('%', #{pojo.key}, '%')
                )
        </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>