<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.PortDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.PortDO">
        <result property="id" column="id"/>
        <result property="portNo" column="portNo"/>
        <result property="name" column="name"/>
        <result property="portType" column="portType"/>
        <result property="company" column="company"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="radius" column="radius"/>
        <result property="description" column="description"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="updater" column="updater"/>
        <result property="updated" column="updated"/>
        <result property="creatorName" column="creatorName"/>
        <result property="updaterName" column="updaterName"/>
    </resultMap>

    <sql id="all_column">
        a.`id`
        ,a.`portNo`
        ,a.`name`
        ,a.`portType`
        ,a.`company`
        ,a.`longitude`
        ,a.`latitude`
        ,a.`radius`
        ,a.`description`
        ,a.`creator`
        ,a.`created`
        ,a.`updater`
        ,a.`updated`
    </sql>

    <sql id="all_column_user">
        <include refid="all_column"/>
        ,b.`realName` as creatorName
    </sql>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO Port
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.portNo!=null"> `portNo`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.portType!=null"> `portType`,</if>
            <if test="pojo.company!=null"> `company`,</if>
            <if test="pojo.longitude!=null"> `longitude`,</if>
            <if test="pojo.latitude!=null"> `latitude`,</if>
            <if test="pojo.radius!=null"> `radius`,</if>
            <if test="pojo.description!=null"> `description`,</if>
            <if test="pojo.creator!=null"> `creator`,</if>
            <if test="pojo.updater!=null"> `updater`,</if>
            `created`,
            `updated`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.portNo!=null">#{pojo.portNo},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.portType!=null">#{pojo.portType},</if>
            <if test="pojo.company!=null">#{pojo.company},</if>
            <if test="pojo.longitude!=null">#{pojo.longitude},</if>
            <if test="pojo.latitude!=null">#{pojo.latitude},</if>
            <if test="pojo.radius!=null">#{pojo.radius},</if>
            <if test="pojo.description!=null">#{pojo.description},</if>
            <if test="pojo.creator!=null">#{pojo.creator},</if>
            <if test="pojo.updater!=null">#{pojo.updater},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now())
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE Port
        <set>
            <if test="pojo.portNo!=null">`portNo` = #{pojo.portNo},</if>
            <if test="pojo.name!=null">`name` = #{pojo.name},</if>
            <if test="pojo.portType!=null">`portType` = #{pojo.portType},</if>
            <if test="pojo.company!=null">`company` = #{pojo.company},</if>
            <if test="pojo.longitude!=null">`longitude` = #{pojo.longitude},</if>
            <if test="pojo.latitude!=null">`latitude` = #{pojo.latitude},</if>
            <if test="pojo.radius!=null">`radius` = #{pojo.radius},</if>
            <if test="pojo.description!=null">`description` = #{pojo.description},</if>
            <if test="pojo.updater!=null">`updater` = #{pojo.updater},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE Port
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column_user"/>
        FROM `Port` a ,`UserProfile` b
        WHERE a.`id` = #{id} and a.`isDeleted` = 0  AND a.creator = b.id
        LIMIT 1
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `Port`
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.name != null"> AND `name` = #{pojo.name} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(a.id)
        FROM  `Port` a,`UserProfile` b
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column_user"/>
        from `Port` a ,`UserProfile` b
        <include refid="pageQueryWhereCommon"/>
        order by a.`created` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where a.`isDeleted` = 0   AND a.creator = b.id
        <if test="pojo.id != null"> AND a.`id` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (a.`name` like concat('%', #{pojo.key}, '%') or a.`portNo` like concat('%', #{pojo.key}, '%'))
        </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>