<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.PreBuckleOilDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.PreBuckleOilDO">
        <result property="id" column="id"/>
        <result property="shipId" column="shipId"/>
        <result property="disId" column="disId"/>
        <result property="preBuckleOil" column="preBuckleOil"/>
        <result property="preBuckleTime" column="preBuckleTime"/>
        <result property="description" column="description"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>

        <result property="orderNo" column="orderNo"/>
    </resultMap>

    <sql id="all_column">
        a.`id`
        ,a.`shipId`
        ,a.`disId`
        ,a.`preBuckleOil`
        ,a.`preBuckleTime`
        ,a.`description`
        ,a.`creator`
        ,a.`created`
        ,a.`updater`
        ,a.`updated`
        ,'' orderNo
    </sql>
    <sql id="all_column_user">
        <include refid="all_column"/>
        ,b.`realName` as creatorName
    </sql>
    <sql id="all_column_user_list">
        a.`id`
        ,a.`shipId`
        ,a.`disId`
        ,a.`preBuckleOil`
        ,a.`preBuckleTime`
        ,a.`description`
        ,a.`creator`
        ,a.`created`
        ,a.`updater`
        ,a.`updated`
        ,b.`realName` as creatorName
        ,d.orderNo
    </sql>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO PreBuckleOil
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.shipId!=null"> `shipId`,</if>
            <if test="pojo.disId!=null"> `disId`,</if>
            <if test="pojo.preBuckleOil!=null"> `preBuckleOil`,</if>
            <if test="pojo.preBuckleTime!=null"> `preBuckleTime`,</if>
            <if test="pojo.description!=null"> `description`,</if>
            <if test="pojo.creator!=null"> `creator`,</if>
            <if test="pojo.updater!=null"> `updater`,</if>
            `created`,
            `updated`,
            `isDeleted`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.shipId!=null">#{pojo.shipId},</if>
            <if test="pojo.disId!=null">#{pojo.disId},</if>
            <if test="pojo.preBuckleOil!=null">#{pojo.preBuckleOil},</if>
            <if test="pojo.preBuckleTime!=null">#{pojo.preBuckleTime},</if>
            <if test="pojo.description!=null">#{pojo.description},</if>
            <if test="pojo.creator!=null">#{pojo.creator},</if>
            <if test="pojo.updater!=null">#{pojo.updater},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now()),
            0
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE PreBuckleOil
        <set>
            <if test="pojo.shipId!=null"> `shipId` = #{pojo.shipId},</if>
            <if test="pojo.disId!=null"> `disId` = #{pojo.disId},</if>
            <if test="pojo.preBuckleOil!=null"> `preBuckleOil`= #{pojo.preBuckleOil},</if>
            <if test="pojo.preBuckleTime!=null"> `preBuckleTime`= #{pojo.preBuckleTime},</if>
            <if test="pojo.description!=null"> `description`= #{pojo.description},</if>
            <if test="pojo.updater!=null">`updater` = #{pojo.updater},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE PreBuckleOil
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column_user"/>
        FROM `PreBuckleOil` a  LEFT JOIN `UserProfile` b on a.creator = b.id
        WHERE a.`id` = #{id} and a.`isDeleted` = 0
        LIMIT 1
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `PreBuckleOil`
        where `isDeleted` = 0 AND 1 = 2
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(a.id)
        FROM  `PreBuckleOil` a  LEFT JOIN `UserProfile` b on a.creator = b.id
        LEFT JOIN `Ship` c on a.shipId = c.id
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column_user_list"/>
        from `PreBuckleOil` a LEFT JOIN `UserProfile` b on a.creator = b.id
        LEFT JOIN `Ship` c on a.shipId = c.id
        LEFT JOIN DispatchInfo d on d.id=a.disId
        <include refid="pageQueryWhereCommon"/>
        order by a.`created` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where a.`isDeleted` = 0
        <if test="pojo.id != null"> AND a.`id` = #{pojo.id} </if>
        <if test="pojo.shipId != null and pojo.shipId != ''">
            AND (a.`shipId` = #{pojo.shipId} )
        </if>
        <if test="pojo.disId != null and pojo.disId != ''">
            AND (a.`disId` = #{pojo.disId} )
        </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>

</mapper>