<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.PushAppMsgDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.PushAppMsgDO">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="notificationTitle" column="notificationTitle"/>
        <result property="msgTitle" column="msgTitle"/>
        <result property="msgContent" column="msgContent"/>
        <result property="extrasParam" column="extrasParam"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="updater" column="updater"/>
        <result property="updated" column="updated"/>
        <result property="isDeleted" column="isDeleted"/>
    </resultMap>

    <sql id="all_column">
        a.`id`
        ,a.`userId`
        ,a.`notificationTitle`
        ,a.`msgTitle`
        ,a.`msgContent`
        ,a.`extrasParam`
        ,a.`creator`
        ,a.`created`
        ,a.`updater`
        ,a.`updated`
        ,a.`isDeleted`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO PushAppMsg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.userId!=null"> `userId`,</if>
            <if test="pojo.notificationTitle!=null"> `notificationTitle`,</if>
            <if test="pojo.msgTitle!=null"> `msgTitle`,</if>
            <if test="pojo.msgContent!=null"> `msgContent`,</if>
            <if test="pojo.extrasParam!=null"> `extrasParam`,</if>
            <if test="pojo.creator!=null"> `creator`,</if>
            <if test="pojo.updater!=null"> `updater`,</if>
            `created`,
            `updated`,
            `isDeleted`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.userId!=null">#{pojo.userId},</if>
            <if test="pojo.notificationTitle!=null">#{pojo.notificationTitle},</if>
            <if test="pojo.msgTitle!=null">#{pojo.msgTitle},</if>
            <if test="pojo.msgContent!=null">#{pojo.msgContent},</if>
            <if test="pojo.extrasParam!=null">#{pojo.extrasParam},</if>
            <if test="pojo.creator!=null">#{pojo.creator},</if>
            <if test="pojo.updater!=null">#{pojo.updater},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now()),
            0
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE PushAppMsg
        <set>
            <if test="pojo.userId!=null">`userId` = #{pojo.userId},</if>
            <if test="pojo.notificationTitle!=null">`notificationTitle` = #{pojo.notificationTitle},</if>
            <if test="pojo.msgTitle!=null">`msgTitle` = #{pojo.msgTitle},</if>
            <if test="pojo.msgContent!=null">`msgContent` = #{pojo.msgContent},</if>
            <if test="pojo.extrasParam!=null">`extrasParam` = #{pojo.extrasParam},</if>
            <if test="pojo.updater!=null">`updater` = #{pojo.updater},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `userId` = #{pojo.userId}
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE PushAppMsg
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `userId` = #{userId}
    </update>

    <select id="getAppById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT * FROM `PushAppMsg`
        WHERE `userId` = #{id} AND `isDeleted` = 0
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `PushAppMsg`
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(a.id)
        FROM  `PushAppMsg` a LEFT JOIN `AppUser` b on a.userId = b.id
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `PushAppMsg` a  LEFT JOIN `AppUser` b on a.userId = b.id
        <include refid="pageQueryWhereCommon"/>
        order by a.`created` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where a.`isDeleted` = 0
        <if test="pojo.id != null"> AND a.`userId` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND a.`userId` =${pojo.key}'
        </if>
    </sql>

    <select id="getListById" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `PushAppMsg` a  LEFT JOIN `AppUser` b on a.userId = b.id
        where a.`isDeleted` = 0
        AND a.`userId` = ${id}
        order by a.`created` desc
    </select>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>