<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.qiangdan.db.dao.ReservationDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.qiangdan.db.entity.ReservationDO">
        <result property="id" column="id"/>
        <result property="leftDispatchId" column="leftDispatchId"/>
        <result property="userId" column="userId"/>
        <result property="shipLongitude" column="shipLongitude"/>
        <result property="shipLatitude" column="shipLatitude"/>
        <result property="gpsAddress" column="gpsAddress"/>
        <result property="preLoad" column="preLoad"/>
        <result property="preArrivePortTime" column="preArrivePortTime"/>
        <result property="shipEmptyPhoto" column="shipEmptyPhoto"/>
        <result property="shipReference" column="shipReference"/>
        <result property="status" column="status"/>
        <result property="checkStatus" column="checkStatus"/>
        <result property="dispatchId" column="dispatchId"/>
        <result property="isDeleted" column="isDeleted"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="updater" column="updater"/>
        <result property="updated" column="updated"/>
        <result property="actualTransferPrice" column="actualTransferPrice"/>
        <result property="preSettleAmount" column="preSettleAmount"/>
    </resultMap>

    <sql id="all_column">
        a.`id`
        ,a.`leftDispatchId`
        ,a.`dispatchId`
        ,a.`userId`
        ,c.`id` as shipId
        ,c.`shipNo`
        ,c.`name`
        ,c.`mobile`
        ,a.`shipLongitude`
        ,a.`shipLatitude`
        ,a.`gpsAddress`
        ,a.`preLoad`
        ,a.`preArrivePortTime`
        ,a.`shipEmptyPhoto`
        ,a.`shipReference`
        ,a.`status`
        ,a.`checkStatus`
        ,d.`actualTransferPrice`
        ,d.`preSettleAmount`
        ,d.`settleType`
        ,d.`preLoad` as preActualLoad
    </sql>

    <sql id="all_columnToApp">
        a.`id`
        ,a.`leftDispatchId`
        ,a.`dispatchId`
        ,a.`userId`
        ,c.`id` as shipId
        ,c.`shipNo`
        ,c.`name`
        ,c.`mobile`
        ,a.`shipLongitude`
        ,a.`shipLatitude`
        ,a.`gpsAddress`
        ,a.`preLoad`
        ,a.`preArrivePortTime`
        ,a.`shipEmptyPhoto`
        ,a.`shipReference`
        ,a.`status`
        ,a.`checkStatus`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO Reservation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.leftDispatchId!=null"> `leftDispatchId`,</if>
            <if test="pojo.dispatchId!=null"> `dispatchId`,</if>
            <if test="pojo.userId!=null"> `userId`,</if>
            <if test="pojo.shipLongitude!=null"> `shipLongitude`,</if>
            <if test="pojo.shipLatitude!=null"> `shipLatitude`,</if>
            <if test="pojo.gpsAddress!=null"> `gpsAddress`,</if>
            <if test="pojo.preLoad!=null"> `preLoad`,</if>
            <if test="pojo.preArrivePortTime!=null"> `preArrivePortTime`,</if>
            <if test="pojo.shipEmptyPhoto!=null"> `shipEmptyPhoto`,</if>
            <if test="pojo.shipReference!=null"> `shipReference`,</if>
            <if test="pojo.checkStatus!=null"> `checkStatus`,</if>
            <if test="pojo.actualTransferPrice!=null"> `actualTransferPrice`,</if>
            <if test="pojo.preSettleAmount!=null"> `preSettleAmount`,</if>
            `status`,
            `isDeleted`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.leftDispatchId!=null">#{pojo.leftDispatchId},</if>
            <if test="pojo.dispatchId!=null">#{pojo.dispatchId},</if>
            <if test="pojo.userId!=null">#{pojo.userId},</if>
            <if test="pojo.shipLongitude!=null">#{pojo.shipLongitude},</if>
            <if test="pojo.shipLatitude!=null">#{pojo.shipLatitude},</if>
            <if test="pojo.gpsAddress!=null">#{pojo.gpsAddress},</if>
            <if test="pojo.preLoad!=null">#{pojo.preLoad},</if>
            <if test="pojo.preArrivePortTime!=null">#{pojo.preArrivePortTime},</if>
            <if test="pojo.shipEmptyPhoto!=null">#{pojo.shipEmptyPhoto},</if>
            <if test="pojo.shipReference!=null">#{pojo.shipReference},</if>
            <if test="pojo.checkStatus!=null">#{pojo.checkStatus},</if>
            <if test="pojo.actualTransferPrice!=null">#{pojo.actualTransferPrice},</if>
            <if test="pojo.preSettleAmount!=null">#{pojo.preSettleAmount},</if>
            1,
            0
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE Reservation
        <set>
            <if test="pojo.leftDispatchId!=null">`leftDispatchId` = #{pojo.leftDispatchId},</if>
            <if test="pojo.dispatchId!=null">`dispatchId` = #{pojo.dispatchId},</if>
            <if test="pojo.userId!=null">`userId` = #{pojo.userId},</if>
            <if test="pojo.shipLongitude!=null">`shipLongitude` = #{pojo.shipLongitude},</if>
            <if test="pojo.shipLatitude!=null">`shipLatitude` = #{pojo.shipLatitude},</if>
            <if test="pojo.gpsAddress!=null">`gpsAddress` = #{pojo.gpsAddress},</if>
            <if test="pojo.preLoad!=null">`preLoad` = #{pojo.preLoad},</if>
            <if test="pojo.preArrivePortTime!=null">`preArrivePortTime` = #{pojo.preArrivePortTime},</if>
            <if test="pojo.shipEmptyPhoto!=null">`shipEmptyPhoto` = #{pojo.shipEmptyPhoto},</if>
            <if test="pojo.shipReference!=null">`shipReference` = #{pojo.shipReference},</if>
            <if test="pojo.status!=null">`status` = #{pojo.status},</if>
            <if test="pojo.checkStatus!=null">`checkStatus` = #{pojo.checkStatus},</if>
            <if test="pojo.actualTransferPrice!=null">`actualTransferPrice` = #{pojo.actualTransferPrice},</if>
            <if test="pojo.preSettleAmount!=null">`preSettleAmount` = #{pojo.preSettleAmount},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id}
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE Reservation
        SET `isDeleted` = 1
        WHERE `id` = #{id}
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `Reservation` a
        LEFT JOIN `AppUser` b ON b.id = a.userId
        LEFT JOIN `Ship` c ON c.id = b.shipInfoId
        left join `DispatchInfo` d on d.id = a.dispatchId
        WHERE a.`id` = #{id} AND a.`isDeleted` = 0 AND a.`status` = 1
    </select>


    <select id="getAppById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_columnToApp"/>
        FROM `Reservation` a
        LEFT JOIN `AppUser` b ON b.id = a.userId
        LEFT JOIN `Ship` c ON c.id = b.shipInfoId
        WHERE a.`userId` = #{id} AND a.`isDeleted` = 0 AND a.`status`=1 AND a.`checkStatus`=0
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `Reservation`
        where `isDeleted` = 0 and `status` = 1
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.leftDispatchId != null"> AND `leftDispatchId` = #{pojo.leftDispatchId} </if>
        <if test="pojo.userId != null"> AND `userId` = #{pojo.userId} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `Reservation` a
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `Reservation` a
        left join `AppUser` b on b.id = a.userId
        left join `Ship` c on c.id = b.shipInfoId
        left join `DispatchInfo` d on d.id = a.dispatchId
        <include refid="pageQueryWhereCommon"/>
        and c.shipFlag = 3
        order by `id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where a.`isDeleted` = 0
        <if test="pojo.id != null"> AND a.`id` = #{pojo.id} </if>
        <if test="pojo.status != null"> AND a.`status` = #{pojo.status} </if>
        <if test="pojo.leftDispatchId != null"> AND a.`leftDispatchId` = #{pojo.leftDispatchId} </if>
        <if test="pojo.userId != null"> AND a.`userId` = #{pojo.userId} </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>


    <select id="queryMyOrderInfoCnt" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(A1.id)
        FROM Reservation A1
        INNER JOIN LeftDispatchInfo A2 ON A1.leftDispatchId=A2.id
        INNER JOIN CustomerTaskFlow A3 ON A3.id=A2.customerTaskFlowId
        INNER JOIN `Port` A4 ON A4.id = A3.startPortId
        INNER JOIN `Port` A5 ON A5.id = A3.endPortId
        WHERE A1.userId = #{pojo.userId}
        limit 1
    </select>


    <select id="queryMyOrderInfo" resultType="Map" parameterType="Map">
        SELECT A1.id, A3.goodsName, A3.loadingTime, A3.dischargeTime, A4.`name` AS startPortName,  A5.`name` AS endPortName, A2.specialTip,A1.`status`,A1.`checkStatus`,A1.`gpsAddress`,
        CASE WHEN A1.`status` = 1 THEN '已预约' WHEN A1.`status` = 2 THEN '已取消' ELSE '其它' END statusName,
        CASE WHEN A1.`checkStatus` = 0 THEN '待审核' WHEN A1.`checkStatus` = 1 THEN '审核通过' WHEN A1.`checkStatus` = 2
        THEN '审核未通过' ELSE '其它' END checkStatusName,A2.dispatchWeight
        FROM Reservation A1
        INNER JOIN LeftDispatchInfo A2 ON A1.leftDispatchId=A2.id
        INNER JOIN CustomerTaskFlow A3 ON A3.id=A2.customerTaskFlowId
        INNER JOIN `Port` A4 ON A4.id = A3.startPortId
        INNER JOIN `Port` A5 ON A5.id = A3.endPortId
        WHERE A1.userId = #{pojo.userId}
        ORDER BY A1.id DESC
         limit #{pojo.startRow}, ${pojo.pageSize}
    </select>
</mapper>