<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.SailingInfoDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.SailingInfoDO">
        <result property="id" column="id"/>
        <result property="shipId" column="shipId"/>
        <result property="orderId" column="orderId"/>
        <result property="status" column="status"/>
        <result property="arriveSPortTime" column="arriveSPortTime"/>
        <result property="loadTime" column="loadTime"/>
        <result property="loadWeight" column="loadWeight"/>
        <result property="preArriveEPortTime" column="preArriveEPortTime"/>
        <result property="actualArriveEPortTime" column="actualArriveEPortTime"/>
        <result property="dischargeTime" column="dischargeTime"/>
        <result property="startchargeTime" column="startchargeTime"/>
        <result property="dischargeWeight" column="dischargeWeight"/>
        <result property="dischargeDelayFee" column="dischargeDelayFee"/>
        <result property="allowance" column="allowance"/>
        <result property="departPortTime" column="departPortTime"/>
        <result property="bucklePrice" column="bucklePrice"/>
        <result property="cutWire" column="cutWire"/>
        <result property="cutOther" column="cutOther"/>
        <result property="cutOtherDes" column="cutOtherDes"/>
        <result property="description" column="description"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
        <result property="shipNo" column="shipNo"/>
        <result property="goodsName" column="goodsName"/>
        <result property="customerName" column="customerName"/>
        <result property="orderNo" column="orderNo"/>

        <result property="dispatchType" column="dispatchType"/>
        <result property="preWeight" column="preWeight"/>
        <result property="preLoad" column="preLoad"/>
        <result property="preArriveTime" column="preArriveTime"/>
        <result property="preSettleAmount" column="preSettleAmount"/>
        <result property="actualTransferPrice" column="actualTransferPrice"/>
        <result property="settleType" column="settleType"/>
        <result property="goodsType" column="goodsType"/>
        <result property="sender" column="sender"/>
        <result property="receiver" column="receiver"/>
        <result property="flowName" column="flowName"/>
        <result property="startPortId" column="startPortId"/>
        <result property="endPortId" column="endPortId"/>

    </resultMap>

    <sql id="all_column">
        `id`
        ,`shipId`
        ,`orderId`
        ,`status`
        ,`arriveSPortTime`
        ,`loadTime`
        ,`loadWeight`
        ,`preArriveEPortTime`
        ,`actualArriveEPortTime`
        ,`dischargeTime`
        ,`startchargeTime`
        ,`dischargeWeight`
        ,`dischargeDelayFee`
        ,`allowance`
        ,`departPortTime`
        ,`bucklePrice`
        ,`cutWire`
        ,`cutOther`
        ,`cutOtherDes`
        ,`description`
        ,`creator`
        ,`created`
        ,`updated`
        , '' shipNo
        , '' goodsName
        , '' customerName
        , '' orderNo

        , '' dispatchType
        , '' preWeight
        , '' preLoad
        , '' preArriveTime
        , '' preSettleAmount
        , '' actualTransferPrice
        , '' settleType
        , '' goodsType
        , '' sender
        , '' receiver
        , '' flowName
        , '' startPortId
        , '' endPortId

    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO SailingInfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.shipId!=null"> `shipId`,</if>
            <if test="pojo.orderId  !=null"> `orderId`,</if>
            <if test="pojo.status!=null"> `status`,</if>
            <if test="pojo.arriveSPortTime!=null"> `arriveSPortTime`,</if>
            <if test="pojo.loadTime!=null"> `loadTime`,</if>
            <if test="pojo.loadWeight!=null"> `loadWeight`,</if>
            <if test="pojo.preArriveEPortTime!=null"> `preArriveEPortTime`,</if>
            <if test="pojo.actualArriveEPortTime!=null"> `actualArriveEPortTime`,</if>
            <if test="pojo.dischargeTime!=null"> `dischargeTime`,</if>
            <if test="pojo.startchargeTime!=null"> `startchargeTime`,</if>
            <if test="pojo.dischargeWeight!=null"> `dischargeWeight`,</if>
            <if test="pojo.dischargeDelayFee!=null"> `dischargeDelayFee`,</if>
            <if test="pojo.allowance!=null"> `allowance`,</if>
            <if test="pojo.departPortTime!=null"> `departPortTime`,</if>
            <if test="pojo.bucklePrice!=null"> `bucklePrice`,</if>
            <if test="pojo.cutWire!=null"> `cutWire`,</if>
            <if test="pojo.cutOther!=null"> `cutOther`,</if>
            <if test="pojo.cutOtherDes!=null"> `cutOtherDes`,</if>
            <if test="pojo.description!=null"> `description`,</if>
            `created`,
            `updated`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.shipId!=null">#{pojo.shipId},</if>
            <if test="pojo.orderId!=null">#{pojo.orderId},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
            <if test="pojo.arriveSPortTime!=null">#{pojo.arriveSPortTime},</if>
            <if test="pojo.loadTime!=null">#{pojo.loadTime},</if>
            <if test="pojo.loadWeight!=null">#{pojo.loadWeight},</if>
            <if test="pojo.preArriveEPortTime!=null">#{pojo.preArriveEPortTime},</if>
            <if test="pojo.actualArriveEPortTime!=null">#{pojo.actualArriveEPortTime},</if>
            <if test="pojo.dischargeTime!=null">#{pojo.dischargeTime},</if>
            <if test="pojo.startchargeTime!=null">#{pojo.startchargeTime},</if>
            <if test="pojo.dischargeWeight!=null">#{pojo.dischargeWeight},</if>
            <if test="pojo.dischargeDelayFee!=null">#{pojo.dischargeDelayFee},</if>
            <if test="pojo.allowance!=null">#{pojo.allowance},</if>
            <if test="pojo.departPortTime!=null">#{pojo.departPortTime},</if>
            <if test="pojo.bucklePrice!=null">#{pojo.bucklePrice},</if>
            <if test="pojo.cutWire!=null">#{pojo.cutWire},</if>
            <if test="pojo.cutOther!=null">#{pojo.cutOther},</if>
            <if test="pojo.cutOtherDes!=null">#{pojo.cutOtherDes},</if>
            <if test="pojo.description!=null">#{pojo.description},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now())
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE SailingInfo
        <set>
            <if test="pojo.shipId!=null">`shipId` =#{pojo.shipId},</if>
            <if test="pojo.orderId!=null">`orderId` =#{pojo.orderId},</if>
            <if test="pojo.status!=null">`status` =#{pojo.status},</if>
            <if test="pojo.arriveSPortTime!=null">`arriveSPortTime` =#{pojo.arriveSPortTime},</if>
            <if test="pojo.loadTime!=null">`loadTime` =#{pojo.loadTime},</if>
            <if test="pojo.loadWeight!=null">`loadWeight` =#{pojo.loadWeight},</if>
            <if test="pojo.preArriveEPortTime!=null">`preArriveEPortTime` =#{pojo.preArriveEPortTime},</if>
            <if test="pojo.actualArriveEPortTime!=null">`actualArriveEPortTime` =#{pojo.actualArriveEPortTime},</if>
            <if test="pojo.dischargeTime!=null">`dischargeTime` =#{pojo.dischargeTime},</if>
            <if test="pojo.startchargeTime!=null">`startchargeTime` =#{pojo.startchargeTime},</if>
            <if test="pojo.dischargeWeight!=null">`dischargeWeight` =#{pojo.dischargeWeight},</if>
            <if test="pojo.dischargeDelayFee!=null">`dischargeDelayFee` =#{pojo.dischargeDelayFee},</if>
            <if test="pojo.allowance!=null">`allowance` =#{pojo.allowance},</if>
            <if test="pojo.departPortTime!=null">`departPortTime` =#{pojo.departPortTime},</if>
            <if test="pojo.bucklePrice!=null">`bucklePrice` =#{pojo.bucklePrice},</if>
            <if test="pojo.cutWire!=null">`cutWire` =#{pojo.cutWire},</if>
            <if test="pojo.cutOther!=null">`cutOther` =#{pojo.cutOther},</if>
            <if test="pojo.cutOtherDes!=null">`cutOtherDes` =#{pojo.cutOtherDes},</if>
            <if test="pojo.description!=null">`description` = #{pojo.description},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE SailingInfo
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `SailingInfo`
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `SailingInfo`
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.shipId != null"> AND `shipId` = #{pojo.shipId} </if>
        <if test="pojo.orderId != null"> AND `orderId` = #{pojo.orderId} </if>
        limit 1
    </select>


    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(A1.id)
        FROM SailingInfo A1
        LEFT JOIN Ship A2 ON A1.shipId=A2.id
        LEFT JOIN DispatchInfo A3 ON A3.id=A1.orderId
        LEFT JOIN CustomerTaskFlow  A4 ON A4.id=A3.customerTaskFlowId
        LEFT JOIN CustomerTask A5 ON A5.id=A4.taskId
        LEFT JOIN Customer A6 ON A6.id= A5.customerId
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>


    <!-- 加载所有的 -->
    <select id="queryDispatchShipInfo" resultType="Map" parameterType="Map">
        SELECT A2.shipNo, A6.fullName, A1.id AS orderId, A1.shipId, A1.orderNo, A1.dispatchType,  A1.preWeight, A1.preLoad, A1.preArriveTime, A1.preSettleAmount, A1.actualTransferPrice, A1.settleType, A3.goodsName, A3.goodsType,
            A3.sender, A3.receiver, A4.`name` AS flowName, A3.startPortId, A3.endPortId
        FROM DispatchInfo A1
        INNER JOIN Ship A2 ON A1.shipId=A2.id
        INNER JOIN CustomerTaskFlow A3 ON A3.id=A1.customerTaskFlowId
		LEFT JOIN CustomerTask A5 ON A5.id=A3.taskId
		LEFT JOIN Customer A6 ON A6.id= A5.customerId
        INNER JOIN Flow A4 ON A4.id=A3.flowId
        WHERE NOT EXISTS (
					SELECT id FROM SailingInfo c2
					WHERE A1.id = c2.orderId
					AND c2.isDeleted=0
				)
				AND A1.isDeleted = 0 AND A1.status>=0
    </select>


    <!-- 加载末增加航次的 -->
    <select id="queryUnDealDispatchShipInfo" resultType="Map" parameterType="Map">
        SELECT A2.shipNo, A6.fullName, A1.id AS orderId, A1.shipId, A1.orderNo, A1.dispatchType,  A1.preWeight, A1.preLoad, A1.preArriveTime, A1.preSettleAmount, A1.actualTransferPrice, A1.settleType, A3.goodsName, A3.goodsType,
            A3.sender, A3.receiver, A4.`name` AS flowName, A3.startPortId, A3.endPortId
        FROM (SELECT c1.*
				FROM DispatchInfo  c1
				WHERE NOT EXISTS (
					SELECT * FROM SailingInfo c2
					WHERE c1.id = c2.orderId
					AND c2.isDeleted=0
				)) A1
        INNER JOIN Ship A2 ON A1.shipId=A2.id
        INNER JOIN CustomerTaskFlow A3 ON A3.id=A1.customerTaskFlowId
				LEFT JOIN CustomerTask A5 ON A5.id=A3.taskId
				LEFT JOIN Customer A6 ON A6.id= A5.customerId
        INNER JOIN Flow A4 ON A4.id=A3.flowId
        WHERE A1.isDeleted = 0
        AND A1.`status` >= 0
    </select>

    <!-- 加载所有已调度的船舶任务 -->
    <select id="getDispatchShipTaskCount" resultType="java.lang.Integer" parameterType="Map">

        SELECT  count(A1.dispatchId)
        FROM  (<include refid="v_dispatchTask"/>) A1

        <include refid="dispatchCondition"/>

    </select>

    <!-- 加载所有已调度的船舶任务 -->
    <select id="getDispatchShipTaskList" resultType="Map" parameterType="Map">
        SELECT A1.*,
          SA1.id sailingId,SA1.arriveSPortTime actualArriveSPortTime,SA1.loadTime actualLoadTime,SA1.loadWeight actualLoadWeight,SA1.bucklePrice,
          SA1.departPortTime LeaveSPortTime,SA1.preArriveEPortTime,
          SA1.actualArriveEPortTime,SA1.startchargeTime,SA1.dischargeTime,SA1.dischargeWeight,SA1.created sailingCreateTime,
          SA1.dischargeDelayFee,SA1.allowance,IFNULL(SA1.status,A1.dispatchStatus) sailingStatus
        FROM (<include refid="v_dispatchTask"/>) A1
        LEFT JOIN SailingInfo SA1 ON SA1.orderId=A1.dispatchId
        <include refid="dispatchCondition"/>
        order by A1.`dispatchId` desc
        <include refid="pageCommon"/>

    </select>

    <sql id="dispatchCondition">
        where 0 = 0
        <if test="pojo.id != null"> AND A1.`dispatchId` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (
            A1.`shipNo` like concat('%', #{pojo.key}, '%')
            or A1.`taskNo` like concat('%', #{pojo.key}, '%')
            or A1.`taskFlowNo` like concat('%', #{pojo.key}, '%')
            or A1.`dispatchNo` like concat('%', #{pojo.key}, '%')
            )
        </if>
    </sql>

    <!-- 加载所有有航次的船舶任务 -->
    <select id="getSailingShipTaskCount" resultType="java.lang.Integer" parameterType="Map">

        SELECT  count(A1.sailingId)
        FROM  (<include refid="v_sailingTask"/>) A1

        <include refid="taskCondition"/>

    </select>

    <!-- 加载所有有航次的船舶任务 -->
    <select id="getSailingShipTaskList" resultType="Map" parameterType="Map">
        SELECT *
        FROM (<include refid="v_sailingTask"/>) A1

        <include refid="taskCondition"/>
        order by A1.`sailingId` desc
        <include refid="pageCommon"/>

    </select>

    <sql id="taskCondition">
        where 0 = 0
        <if test="pojo.id != null"> AND A1.`sailingId` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (
            A1.`shipNo` like concat('%', #{pojo.key}, '%')
            or A1.`taskNo` like concat('%', #{pojo.key}, '%')
            or A1.`taskFlowNo` like concat('%', #{pojo.key}, '%')
            or A1.`dispatchNo` like concat('%', #{pojo.key}, '%')
            )
        </if>
    </sql>

    <!-- 流向任务视图 -->
    <sql id="v_flowTask">
        SELECT  A2.id taskId,A2.taskNo,A2.totalLoad totalWeight,
                A1.id flowTaskId,A1.taskNo flowTaskNo,A1.goodsName,A1.totalWeight flowTotalWeight,A1.selfPick,A1.sailingArea taskSailingArea,
                A1.flowId,A4.name flowName,A1.sender sendGoodsUnit,A1.receiver receiveGoodsUnit,
                A1.sailingArea,A1.taskStatus taskFlowStatus,
                A1.loadingTime preLoadTime,A1.dischargeTime preDischargeTime,A1.created flowTaskCreateTime,
                A3.id customerId,A3.fullName customerFullName,A3.simpleName companySimpleName,
                P1.id startPortId,P1.name startPortName,P2.id endPortId,P2.name endPortName

        FROM CustomerTaskFlow A1
		INNER JOIN CustomerTask A2 ON A2.id=A1.taskId
		INNER JOIN Customer A3 ON A3.id= A2.customerId
        INNER JOIN Flow A4 ON A4.id=A1.flowId
        INNER JOIN Port P1 ON P1.Id=A1.startPortId
        INNER JOIN Port P2 ON P2.Id=A1.endPortId
        WHERE A1.`isDeleted` = 0
    </sql>
    <!-- 船舶视图 -->
    <sql id="v_ship">
        SELECT SH1.id shipId,SH1.shipNo,SH1.loadWeight+SH1.preLoad shipPreLoadWeight,SH1.shipFlag shipOwner,
        IFNULL(SH1.name,SS1.name) shiperName,IFNULL(SH1.mobile,SS1.mobile) shiperMobile
        FROM Ship SH1
        LEFT JOIN ShipStaff SS1 ON SS1.shipId=SH1.Id
        WHERE SH1.`isDeleted` = 0
    </sql>
    <!-- 调度任务视图 -->
    <sql id="v_dispatchTask">
        SELECT  A1.id dispatchId,A1.orderNo dispatchNo,A1.preWeight preOcccurWeight,
        A1.preArriveTime requireArriveTime,A1.dispatchType,A1.created dispatchCreateTime,A1.status dispatchStatus,
        T1.*,
        S1.*
        FROM DispatchInfo A1
        INNER JOIN (<include refid="v_ship"/>) S1 ON S1.shipId=A1.shipId
        INNER JOIN (<include refid="v_flowTask"/>) T1 ON T1.flowTaskId=A1.customerTaskFlowId
        WHERE A1.`isDeleted` = 0
    </sql>

    <!-- 航次任务试图 -->
    <sql id="v_sailingTask">
        SELECT  SA1.id sailingId,SA1.arriveSPortTime actualArriveSPortTime,SA1.loadTime actualLoadTime,SA1.loadWeight actualLoadWeight,SA1.bucklePrice,
                SA1.departPortTime LeaveSPortTime,SA1.preArriveEPortTime,
                SA1.actualArriveEPortTime,SA1.startchargeTime,SA1.dischargeTime,SA1.dischargeWeight,SA1.created sailingCreateTime,
                SA1.dischargeDelayFee,SA1.allowance,IFNULL(SA1.status,D1.dispatchStatus) sailingStatus,
                D1.*
        FROM SailingInfo SA1
        INNER JOIN (<include refid="v_dispatchTask"/>) D1 ON D1.dispatchId=SA1.orderId
        WHERE SA1.`isDeleted` = 0
    </sql>

    <sql id="pageQueryWhereCommonNew">
        where A1.`isDeleted` = 0
        <if test="pojo.id != null"> AND A1.`id` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (
            SH1.`shipNo` like concat('%', #{pojo.key}, '%')
            or A5.`taskNo` like concat('%', #{pojo.key}, '%')
            or A3.`taskNo` like concat('%', #{pojo.key}, '%')
            or A1.`orderNo` like concat('%', #{pojo.key}, '%')
            )
        </if>
    </sql>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        SELECT SI1.*, S1.shipNo,CTF1.goodsName, C1.fullName AS customerName,
        DI1.orderNo,DI1.id AS orderId, DI1.shipId, DI1.dispatchType,DI1.preWeight, DI1.preLoad, DI1.preArriveTime,
        DI1.preSettleAmount, DI1.actualTransferPrice, DI1.settleType,
        CTF1.goodsType,CTF1.sender, CTF1.receiver, F1.`name` AS flowName, CTF1.startPortId, CTF1.endPortId
        FROM SailingInfo SI1
        LEFT JOIN Ship S1 ON S1.Id=SI1.shipId
        LEFT JOIN DispatchInfo DI1 ON DI1.id=SI1.orderId
        LEFT JOIN CustomerTaskFlow  CTF1 ON CTF1.id=DI1.customerTaskFlowId
        LEFT JOIN CustomerTask CT1 ON CT1.id=CTF1.taskId
        LEFT JOIN Customer C1 ON C1.id= CT1.customerId
        INNER JOIN Flow F1 ON F1.id=CTF1.flowId

        <include refid="pageQueryWhereCommon1"/>
        order by SI1.`id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon1">
        where SI1.`isDeleted` = 0
        <if test="pojo.id != null"> AND SI1.`id` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (

            S1.`shipNo` like concat('%', #{pojo.key}, '%')
            or CTF1.`taskNo` like concat('%', #{pojo.key}, '%')
            or CT1.`taskNo` like concat('%', #{pojo.key}, '%')
            or DI1.`orderNo` like concat('%', #{pojo.key}, '%')
            )

        </if>
    </sql>

    <sql id="pageQueryWhereCommon">
        where A1.`isDeleted` = 0
        <if test="pojo.id != null"> AND A1.`id` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (

            A2.`shipNo` like concat('%', #{pojo.key}, '%')
            or A5.`taskNo` like concat('%', #{pojo.key}, '%')
            or A4.`taskNo` like concat('%', #{pojo.key}, '%')
            or A3.`orderNo` like concat('%', #{pojo.key}, '%')
            )

        </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>