<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.ShipOilDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.ShipOilDO">
        <result property="id" column="id"/>
        <result property="shipId" column="shipId"/>
        <result property="status" column="status"/>
        <result property="disId" column="disId"/>
        <result property="fuelQuantity" column="fuelQuantity"/>
        <result property="unitPrice" column="unitPrice"/>
        <result property="refuelingTime" column="refuelingTime"/>
        <result property="description" column="description"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="updater" column="updater"/>
        <result property="updated" column="updated"/>
        <result property="creatorName" column="creatorName"/>
        <result property="updaterName" column="updaterName"/>
        <result property="preAmountTotal" column="preAmountTotal"/>
        <result property="actualAmountTotal" column="actualAmountTotal"/>
        <result property="leftAmountTotal" column="leftAmountTotal"/>
    </resultMap>

    <sql id="all_column">
        a.`id`
        ,a.`shipId`
        ,a.`status`
        ,a.`disId`
        ,a.`fuelQuantity`
        ,a.`unitPrice`
        ,a.`refuelingTime`
        ,a.`description`
        ,a.`creator`
        ,a.`created`
        ,a.`updater`
        ,a.`updated`
    </sql>

    <sql id="all_column_user">
        <include refid="all_column"/>
        ,b.`realName` as creatorName
    </sql>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO ShipOil
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.shipId!=null"> `shipId`,</if>
            <if test="pojo.status!=null"> `status`,</if>
            <if test="pojo.disId!=null"> `disId`,</if>
            <if test="pojo.fuelQuantity!=null"> `fuelQuantity`,</if>
            <if test="pojo.unitPrice!=null"> `unitPrice`,</if>
            <if test="pojo.refuelingTime!=null"> `refuelingTime`,</if>
            <if test="pojo.description!=null"> `description`,</if>
            <if test="pojo.creator!=null"> `creator`,</if>
            <if test="pojo.updater!=null"> `updater`,</if>
            `created`,
            `updated`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.shipId!=null">#{pojo.shipId},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
            <if test="pojo.disId!=null">#{pojo.disId},</if>
            <if test="pojo.fuelQuantity!=null">#{pojo.fuelQuantity},</if>
            <if test="pojo.unitPrice!=null">#{pojo.unitPrice},</if>
            <if test="pojo.refuelingTime!=null">#{pojo.refuelingTime},</if>
            <if test="pojo.description!=null">#{pojo.description},</if>
            <if test="pojo.creator!=null">#{pojo.creator},</if>
            <if test="pojo.updater!=null">#{pojo.updater},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now())
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE ShipOil
        <set>
            <if test="pojo.shipId!=null">`shipId` = #{pojo.shipId},</if>
            <if test="pojo.status!=null">`status` = #{pojo.status},</if>
            <if test="pojo.disId!=null">`disId` = #{pojo.disId},</if>
            <if test="pojo.fuelQuantity!=null">`fuelQuantity` = #{pojo.fuelQuantity},</if>
            <if test="pojo.unitPrice!=null">`unitPrice` = #{pojo.unitPrice},</if>
            <if test="pojo.refuelingTime!=null">`refuelingTime` = #{pojo.refuelingTime},</if>
            <if test="pojo.description!=null">`description` = #{pojo.description},</if>
            <if test="pojo.updater!=null">`updater` = #{pojo.updater},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE ShipOil
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column_user"/>
        FROM `ShipOil` a LEFT JOIN `UserProfile` b on a.creator = b.id
        WHERE a.`id` = #{id} and a.`isDeleted` = 0
        LIMIT 1
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `ShipOil`
        where `isDeleted` = 0 AND 1 = 2
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(a.id)
        FROM  `ShipOil` a LEFT JOIN `UserProfile` b on a.creator = b.id
        LEFT JOIN `Ship` c on a.shipId = c.id
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column_user"/>
        from `ShipOil` a  LEFT JOIN `UserProfile` b on a.creator = b.id
        LEFT JOIN `Ship` c on a.shipId = c.id
        <include refid="pageQueryWhereCommon"/>
        order by a.`created` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where a.`isDeleted` = 0
        <if test="pojo.id != null"> AND a.`id` = #{pojo.id} </if>
        <if test="pojo.shipId != null and pojo.shipId != ''">
            AND (a.`shipId` = #{pojo.shipId} )
        </if>
        <if test="pojo.disId != null and pojo.disId != ''">
            AND (a.`disId` = #{pojo.disId} )
        </if>
    </sql>

    <!-- 加载所有已调度的船舶任务 -->
    <select id="calculateRemainingOilCount" resultType="java.lang.Integer" parameterType="Map">

        SELECT  count(1)
        from (select a1.shipId, sum(preBuckleOil) as preAmount
        from PreBuckleOil a1
        GROUP BY a1.shipId
        ) a
        left join (
        select a2.shipId, sum(a2.fuelQuantity*a2.unitPrice) as actualAmount
        from ShipOil a2
        where a2.`status`=1
        group by a2.shipId) b on b.shipId = a.shipId
        <if test="pojo.key != null and pojo.key !=''">
        where a.shipId = (
        select a3.shipId
        from DispatchInfo a3
        where a3.`isDeleted`=0
            and a3.`id` = #{pojo.key})
        </if>
        limit 1
    </select>

    <select id="calculateRemainingOil" resultType="Map" parameterType="Map">
        select a.shipId, ifnull(a.preAmount, 0) as preAmountTotal, ifnull(b.actualAmount, 0) as actualAmountTotal, (ifnull(a.preAmount, 0)-ifnull(b.actualAmount, 0)) as leftAmountTotal
        from (select a1.shipId, sum(preBuckleOil) as preAmount
        from PreBuckleOil a1
        GROUP BY a1.shipId
        ) a
        left join (
        select a2.shipId, sum(a2.fuelQuantity*a2.unitPrice) as actualAmount
        from ShipOil a2
        where a2.`status`=1
        group by a2.shipId) b on b.shipId = a.shipId
        <if test="pojo.key != null and pojo.key !=''">
        where a.shipId = (
        select a3.shipId
        from DispatchInfo a3
        where a3.`isDeleted`=0
            and a3.`id` = #{pojo.key})
        </if>
        <include refid="pageCommon"/>
    </select>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>