<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.ShipCurrentGpsDAO">

    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.ShipCurrentGpsDO">
        <result property="id" column="id"/>
        <result property="shipId" column="shipId"/>
        <result property="shipNo" column="shipNo"/>
        <result property="devId" column="devId"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="gpsTime" column="gpsTime"/>
        <result property="speed" column="speed"/>
        <result property="angle" column="angle"/>
        <result property="runkm" column="runkm"/>
        <result property="alarmType" column="alarmType"/>
        <result property="areaId" column="areaId"/>
        <result property="inOrOut" column="inOrOut"/>
        <result property="linecode" column="linecode"/>
        <result property="fieldcode" column="fieldcode"/>
        <result property="servertime" column="servertime"/>
        <result property="occurtime" column="occurtime"/>
        <result property="entertime" column="entertime"/>
        <result property="leavetime" column="leavetime"/>
        <result property="online" column="online"/>
    </resultMap>

    <resultMap id="mShipDevMap" type="com.xingyi.logistic.business.model.ShipDev">
        <result property="shipNo" column="shipNo"/>
        <result property="devId" column="gpsDeviceId"/>
    </resultMap>

    <resultMap id="mPortMap" type="com.xingyi.logistic.business.model.Port">
        <result property="id" column="id"/>
        <result property="portNo" column="portNo"/>
        <result property="name" column="name"/>
        <result property="portType" column="portType"/>
        <result property="company" column="company"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="radius" column="radius"/>
    </resultMap>


    <resultMap id="mDangerZoneMap" type="com.xingyi.logistic.business.model.DangerZone">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="radius" column="radius"/>
        <result property="alarmDistance" column="alarmDistance"/>
    </resultMap>


    <resultMap id="mDangerZoneSpeedMap" type="com.xingyi.logistic.business.model.DangerZoneSpeed">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="coordinate" column="coordinate"/>
        <result property="minSpeed" column="minSpeed"/>
        <result property="maxSpeed" column="maxSpeed"/>
    </resultMap>

    <resultMap id="mRetComboxMap" type="com.xingyi.logistic.business.model.Combox">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap id="mRetSailingMap" type="com.xingyi.logistic.business.model.SailingData">
        <result property="id" column="id"/>
        <result property="shipId" column="shipId"/>
        <result property="status" column="status"/>
        <result property="actualArriveEPortTime" column="actualArriveEPortTime"/>
        <result property="loadTime" column="loadTime"/>
        <result property="loadWeight" column="loadWeight"/>
        <result property="preArriveEPortTime" column="preArriveEPortTime"/>
        <result property="departPortTime" column="departPortTime"/>
        <result property="actualArriveEPortTime" column="actualArriveEPortTime"/>
        <result property="dischargeTime" column="dischargeTime"/>
        <result property="dischargeWeight" column="dischargeWeight"/>
        <result property="dischargeDelayFee" column="dischargeDelayFee"/>
        <result property="goodsName" column="goodsName"/>
        <result property="startPortId" column="startPortId"/>
        <result property="endPortId" column="endPortId"/>
    </resultMap>

    <resultMap id="mRetDispatchMap" type="com.xingyi.logistic.business.model.DispatchData">
        <result property="id" column="id"/>
        <result property="shipId" column="shipId"/>
        <result property="status" column="status"/>
        <result property="orderNo" column="orderNo"/>
        <result property="dispatchType" column="dispatchType"/>
        <result property="shipType" column="shipType"/>
        <result property="settleType" column="settleType"/>
        <result property="preWeight" column="preWeight"/>
        <result property="preLoad" column="preLoad"/>
        <result property="preArriveTime" column="preArriveTime"/>
        <result property="preSettleAmount" column="preSettleAmount"/>
        <result property="goodsName" column="goodsName"/>
        <result property="startPortId" column="startPortId"/>
        <result property="endPortId" column="endPortId"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,'0' AS shipId
        ,`shipNo`
        ,`devId`
        ,`longitude`
        ,`latitude`
        ,`gpsTime`
        ,`speed`
        ,`runkm`
        ,`angle`
        ,`alarmType`
        ,`areaId`
        ,`inOrOut`
        ,`linecode`
        ,`fieldcode`
        ,`servertime`
        ,`occurtime`
        ,`entertime`
        ,`leavetime`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO ShipCurrentGps
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.shipNo!=null"> `shipNo`,</if>
            <if test="pojo.devId!=null"> `devId`,</if>
            <if test="pojo.longitude!=null"> `longitude`,</if>
            <if test="pojo.latitude!=null"> `latitude`,</if>
            <if test="pojo.gpsTime!=null"> `gpsTime`,</if>
            <if test="pojo.speed!=null"> `speed`,</if>
            <if test="pojo.angle!=null"> `angle`,</if>
            <if test="pojo.runkm!=null"> `runkm`,</if>
            <if test="pojo.alarmType!=null"> `alarmType`,</if>
            <if test="pojo.areaId!=null"> `areaId`,</if>
            <if test="pojo.inOrOut!=null"> `inOrOut`,</if>
            <if test="pojo.linecode!=null"> `linecode`,</if>
            <if test="pojo.fieldcode!=null"> `fieldcode`,</if>
            <if test="pojo.servertime!=null"> `servertime`,</if>
            <if test="pojo.occurtime!=null"> `occurtime`,</if>
            <if test="pojo.entertime!=null"> `entertime`,</if>
            <if test="pojo.leavetime!=null"> `leavetime`,</if>
            `created`,
            `updated`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.shipNo!=null">#{pojo.shipNo},</if>
            <if test="pojo.devId!=null">#{pojo.devId},</if>
            <if test="pojo.longitude!=null">#{pojo.longitude},</if>
            <if test="pojo.latitude!=null">#{pojo.latitude},</if>
            <if test="pojo.gpsTime!=null">#{pojo.gpsTime},</if>
            <if test="pojo.speed!=null">#{pojo.speed},</if>
            <if test="pojo.angle!=null">#{pojo.angle},</if>
            <if test="pojo.runkm!=null">#{pojo.runkm},</if>
            <if test="pojo.alarmType!=null">#{pojo.alarmType},</if>
            <if test="pojo.areaId!=null">#{pojo.areaId},</if>
            <if test="pojo.inOrOut!=null">#{pojo.inOrOut},</if>
            <if test="pojo.linecode!=null">#{pojo.linecode},</if>
            <if test="pojo.fieldcode!=null">#{pojo.fieldcode},</if>
            <if test="pojo.servertime!=null">#{pojo.servertime},</if>
            <if test="pojo.occurtime!=null">#{pojo.occurtime},</if>
            <if test="pojo.entertime!=null">#{pojo.entertime},</if>
            <if test="pojo.leavetime!=null">#{pojo.leavetime},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now())
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE ShipCurrentGps
        <set>
            <if test="pojo.shipNo!=null">`shipNo` = #{pojo.shipNo},</if>
            <if test="pojo.longitude!=null">`longitude` = #{pojo.longitude},</if>
            <if test="pojo.latitude!=null">`latitude` = #{pojo.latitude},</if>
            <if test="pojo.gpsTime!=null">`gpsTime` = #{pojo.gpsTime},</if>
            <if test="pojo.speed!=null">`speed` = #{pojo.speed},</if>
            <if test="pojo.angle!=null">`angle` = #{pojo.angle},</if>
            <if test="pojo.runkm!=null">`runkm` = #{pojo.runkm},</if>
            <if test="pojo.alarmType!=null">`alarmType` = #{pojo.alarmType},</if>
            <if test="pojo.areaId!=null">`areaId` = #{pojo.areaId},</if>
            <if test="pojo.inOrOut!=null">`inOrOut` = #{pojo.inOrOut},</if>
            <if test="pojo.linecode!=null">`linecode` = #{pojo.linecode},</if>
            <if test="pojo.fieldcode!=null">`fieldcode` = #{pojo.fieldcode},</if>
            <if test="pojo.servertime!=null">`servertime` = #{pojo.servertime},</if>
            <if test="pojo.occurtime!=null">`occurtime` = #{pojo.occurtime},</if>
            <if test="pojo.entertime!=null">`entertime` = #{pojo.entertime},</if>
            <if test="pojo.leavetime!=null">`leavetime` = #{pojo.leavetime},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `devId` = #{pojo.devId}
        LIMIT 1
    </update>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `ShipCurrentGps`
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.devId != null"> AND `devId` = #{pojo.devId} </if>
        limit 1
    </select>

    <select id="getShipCurrentGpsAll" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `ShipCurrentGps`
    </select>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `ShipCurrentGps`
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </select>

    <select id="getShipDev" resultMap="mShipDevMap" parameterType="Map">
        select shipNo, gpsDeviceId
        from `ship`
    </select>

    <!-- 加载所有港口 -->
    <select id="getLoadPortAll" resultMap="mPortMap" parameterType="Map">
        select *
        from `Port`
        where isDeleted = 0
    </select>

    <!-- 加载所有危险区域 -->
    <select id="getLoadDangerZone" resultMap="mDangerZoneMap" parameterType="Map">
        select *
        from `DangerZone`
        where isDeleted = 0
        and `status` = 1
    </select>

    <!-- 加载所有航道 -->
    <select id="getLoadDangerZoneSpeed" resultMap="mDangerZoneSpeedMap" parameterType="Map">
        select *
        from `DangerZoneSpeed`
        where isDeleted = 0
        and `status` = 1
    </select>

    <select id="queryShipCurrentGpsInfo" resultMap="AllColumnMap" parameterType="Map">
        select A2.shipNo, A1.*, A2.id as shipId,CASE WHEN (UNIX_TIMESTAMP(now())-UNIX_TIMESTAMP(STR_TO_DATE(A1.gpsTime,"%Y-%m-%d %H:%i:%s ")))/60 > 10 THEN 0 ELSE 1 END AS online
        from `ShipCurrentGps` A1
        INNER JOIN Ship  A2 ON A1.devId = A2.gpsDeviceId
        WHERE A1.longitude != 0 AND A1.longitude is not NULL
        <if test="pojo.shipNo != null"> AND A2.shipNo like concat('%', #{pojo.shipNo}, '%') </if>
        <if test="pojo.devId != null"> AND A1.devId like concat('%', #{pojo.devId}, '%') </if>
    </select>

    <select id="queryComboxShipInfo" resultMap="mRetComboxMap" parameterType="Map">
        select shipNo AS ID, gpsDeviceId AS NAME
        from `Ship`
        WHERE isDeleted = 0
    </select>

    <select id="queryDataDictInfo" resultMap="mRetComboxMap" parameterType="Map">
        select A1.id AS ID, A1.value AS NAME
        from `DataDictionary` A1
		INNER JOIN DataDictionary A2 ON A1.parentId=A2.id
        where A2.code = #{pojo.code}
        AND A1.isDeleted = 0
    </select>

    <select id="queryComboxCustomerInfo" resultMap="mRetComboxMap" parameterType="Map">
        select id AS ID, fullName AS NAME
        from `Customer`
        WHERE isDeleted = 0
        ORDER BY updated DESC
    </select>


    <select id="queryUserProfileInfo" resultMap="mRetComboxMap" parameterType="Map">
        SELECT A1.ID, A1.realName AS NAME
        FROM UserProfile A1
        WHERE A1.isDeleted = 0
    </select>

    <!-- 加载航次信息表-->
    <select id="querySailingInfo" resultMap="mRetSailingMap" parameterType="Map">
        <![CDATA[
        SELECT A1.ID, A1.shipId, A1.`status`, A1.actualArriveEPortTime, A1.loadTime, A1.loadWeight,
        A1.preArriveEPortTime, A1.departPortTime, A1.actualArriveEPortTime, A1.dischargeTime,
        A1.dischargeWeight, A1.dischargeDelayFee, A3.goodsName, A4.startPortId, A4.endPortId
        FROM SailingInfo A1
        LEFT  JOIN DispatchInfo A2 ON A1.orderId=A2.id
        LEFT JOIN CustomerTaskFlow A3 ON A2.customerTaskFlowId=A3.id
        LEFT JOIN Flow A4 ON A4.ID=A3.flowId
        WHERE A1.status <5
        AND A1.isDeleted = 0
        ]]>
    </select>

    <!-- 加载航次信息表-->
    <select id="queryDispatchInfo" resultMap="mRetDispatchMap" parameterType="Map">
        <![CDATA[
        SELECT A1.id, A1.orderNo, A1.dispatchType, A1.shipId, A1.shipFlag as shipType, A1.preWeight, A1.preLoad, A1.preArriveTime, A1.preSettleAmount, A1.settleType, A3.goodsName, A4.startPortId, A4.endPortId
        FROM DispatchInfo A1
        LEFT JOIN CustomerTaskFlow A3 ON A1.customerTaskFlowId=A3.id
        LEFT JOIN Flow A4 ON A4.ID=A3.flowId
        WHERE A1.status <5
        AND A1.isDeleted = 0
        ]]>
    </select>



    <!-- 加载最后一次 -->
    <select id="queryContractFlowLastInfo" resultMap="mRetComboxMap" parameterType="Map">
        <![CDATA[
        SELECT A1.unitPrice AS ID, A1.unitPrice AS NAME
        FROM ContractFlow A1
        INNER JOIN Contract A2 ON A1.contractId=A2.id
        WHERE A2.partyA in(select partyA from Contract where id=#{pojo.contractId})
        AND A2.isDeleted = 0
        AND A2.id <> #{pojo.contractId}
        AND A1.flowId = #{pojo.flowId}
        ORDER BY A2.validEDate DESC
        LIMIT 1
        ]]>
    </select>


</mapper>