<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.TerminalMsgDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.TerminalMsgDO">
        <result property="id" column="id"/>
        <result property="shipId" column="shipId"/>
        <result property="deviceId" column="deviceId"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="status" column="status"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="isDeleted" column="isDeleted"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,`shipId`
        ,`deviceId`
        ,`title`
        ,`content`
        ,`status`
        ,`creator`
        ,`created`
        ,`isDeleted`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO TerminalMsg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.shipId!=null"> `shipId`,</if>
            <if test="pojo.deviceId!=null"> `deviceId`,</if>
            <if test="pojo.title!=null"> `title`,</if>
            <if test="pojo.content!=null"> `content`,</if>
            <if test="pojo.creator!=null"> `creator`,</if>
            `status`,
            `created`,
            `updated`,
            `isDeleted`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.shipId!=null">#{pojo.shipId},</if>
            <if test="pojo.deviceId!=null">#{pojo.deviceId},</if>
            <if test="pojo.title!=null">#{pojo.title},</if>
            <if test="pojo.content!=null">#{pojo.content},</if>
            <if test="pojo.status!=null">#{pojo.status},</if>
            <if test="pojo.creator!=null">#{pojo.creator},</if>
            1,
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now()),
            0
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE TerminalMsg
        <set>
            <if test="pojo.shipId!=null">`shipId` = #{pojo.shipId},</if>
            <if test="pojo.deviceId!=null">`deviceId` = #{pojo.deviceId},</if>
            <if test="pojo.title!=null">`title` = #{pojo.title},</if>
            <if test="pojo.content!=null">`content` = #{pojo.content},</if>
            <if test="pojo.status!=null">`status` = #{pojo.status},</if>
            <if test="pojo.creator!=null">`creator` = #{pojo.creator},</if>
            <if test="pojo.isDeleted!=null">`isDeleted` = #{pojo.isDeleted},</if>
            `status` = 1,
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id}
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE TerminalMsg
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id}
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `TerminalMsg`
        WHERE `id` = #{id}
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `TerminalMsg`
        WHERE `isDeleted` = 0 AND 1>1
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.shipId != null"> AND `shipId` = #{pojo.shipId} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `TerminalMsg`
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `TerminalMsg`
        <include refid="pageQueryWhereCommon"/>
        order by `id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (`title` like concat('%', #{pojo.key}, '%'))
        </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>