<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.TransferPriceDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.TransferPriceDO">
        <result property="id" column="id"/>
        <result property="customerId" column="customerId"/>
        <result property="contractId" column="contractId"/>
        <result property="priceType" column="priceType"/>
        <result property="creator" column="creator"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,`customerId`
        ,`contractId`
        ,`priceType`
        ,`creator`
        ,`created`
        ,`updated`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO TransferPrice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.customerId!=null"> `customerId`,</if>
            <if test="pojo.contractId!=null"> `contractId`,</if>
            <if test="pojo.priceType!=null"> `priceType`,</if>
            `created`,
            `updated`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.customerId!=null">#{pojo.customerId},</if>
            <if test="pojo.contractId!=null">#{pojo.contractId},</if>
            <if test="pojo.priceType!=null">#{pojo.priceType},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now())
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE TransferPrice
        <set>
            <if test="pojo.customerId!=null">`customerId` = #{pojo.customerId},</if>
            <if test="pojo.contractId!=null">`contractId` = #{pojo.contractId},</if>
            <if test="pojo.priceType!=null">`priceType` = #{pojo.priceType},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE TransferPrice
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `TransferPrice`
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `TransferPrice`
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` != #{pojo.id} </if>
        <if test="pojo.customerId != null and pojo.contractId != null "> AND `customerId` = #{pojo.customerId} AND `contractId` = #{pojo.contractId}  </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `TransferPrice`
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `TransferPrice`
        <include refid="pageQueryWhereCommon"/>
        order by `id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` = #{pojo.id} </if>
        <if test="pojo.key != null and pojo.key !=''">
            AND `customerId` =  #{pojo.key}
        </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>
</mapper>