<?xml version="1.0" encoding="UTF-8" ?>
<!--  Generate by autoSQLMap Powered by duxing@Taobao -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szmtjk.authentication.db.dao.UserRolesDAO">
    <resultMap id="AllColumnMap" type="com.szmtjk.authentication.db.entity.UserRolesDO">
        <result property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="roleId" column="roleId"/>
        <result property="creator" column="creator"/>
        <result property="creatorName" column="creatorName"/>
        <result property="created" column="created"/>
        <result property="updater" column="updater"/>
        <result property="updaterName" column="updaterName"/>
        <result property="updated" column="updated"/>
        <result property="isDeleted" column="isDeleted"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,`userId`
        ,`roleId`
        ,`creator`
        ,`creatorName`
        ,`created`
        ,`updater`
        ,`updaterName`
        ,`updated`
        ,`isDeleted`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO UserRoles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.userId!=null"> `userId`,</if>
            <if test="pojo.roleId!=null"> `roleId`,</if>
            <if test="pojo.creator!=null"> `creator`,</if>
            <if test="pojo.creatorName!=null"> `creatorName`,</if>
            `created`,
            <if test="pojo.updater!=null"> `updater`,</if>
            <if test="pojo.updaterName!=null"> `updaterName`,</if>
            `updated`,
            `isDeleted`
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.userId!=null">#{pojo.userId},</if>
            <if test="pojo.roleId!=null">#{pojo.roleId},</if>
            <if test="pojo.creator!=null">#{pojo.creator},</if>
            <if test="pojo.creatorName!=null">#{pojo.creatorName},</if>
            UNIX_TIMESTAMP(now()),
            <if test="pojo.updater!=null">#{pojo.updater},</if>
            <if test="pojo.updaterName!=null">#{pojo.updaterName},</if>
            UNIX_TIMESTAMP(now()),
            0
        </trim>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE UserRoles
        <set>
            <if test="pojo.userId!=null">`userId` = #{pojo.userId},</if>
            <if test="pojo.roleId!=null">`roleId` = #{pojo.roleId},</if>
            <if test="pojo.updaterName!=null">`updaterName` = #{pojo.updaterName},</if>
            <if test="pojo.isDeleted!=null">`isDeleted` = #{pojo.isDeleted},</if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE `id` = #{pojo.id}
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE UserRoles
        SET `isDeleted` = 1,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id}
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM `UserRoles`
        WHERE `id` = #{id}
    </select>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT SUM(0) FROM DUAL
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `UserRoles`
        <include refid="pageQueryWhereCommon"/>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `UserRoles`
        <include refid="pageQueryWhereCommon"/>
        order by `id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageQueryWhereCommon">
        where `isDeleted` = 0
        <if test="pojo.id != null"> AND `id` = #{pojo.id} </if>
        <if test="pojo.key != null">
            AND (`userId` like concat('%', #{pojo.key}, '%'))
        </if>
    </sql>

    <sql id="pageCommon">
        <choose>
            <when test="pojo.startRow != null and pojo.startRow gt -1 and pojo.limitNum != null and pojo.limitNum gt 0">
                limit #{pojo.startRow}, #{pojo.limitNum}
            </when>
            <otherwise>
                limit 100
            </otherwise>
        </choose>
    </sql>

    <delete id="deleteByUserId" parameterType="java.lang.Long">
        DELETE FROM `UserRoles` WHERE userId = #{userId}
    </delete>


    <!-- 根据用户加载角色ID-->
    <select id="queryRolesByUserIdInfo" resultType="Map" parameterType="Map">
        SELECT A1.roleId
        FROM UserRoles A1
        WHERE A1.userId = #{pojo.userId}
    </select>
</mapper>