<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.business.db.dao.UserThirdPartyDetailDAO">
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.business.db.entity.UserThirdPartyDetailDO">
        <result property="id" column="id"/>
        <result property="thirdType" column="thirdType"/>
        <result property="thirdId" column="thirdId"/>
        <result property="appType" column="appType"/>
        <result property="thirdId2" column="thirdId2"/>
        <result property="extra" column="extra"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
    </resultMap>

    <sql id="all_column">
        `id`
        ,`thirdType`
        ,`thirdId`
        ,`appType`
        ,`thirdId2`
        ,`extra`
        ,`created`
        ,`updated`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `UserThirdPartyDetail`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            thirdType,
            thirdId,
            appType,
            thirdId2,
            extra,
            created,
            updated,
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.thirdType!=null">#{pojo.thirdType},</if>
            <if test="pojo.thirdId!=null">#{pojo.thirdId},</if>
            <if test="pojo.appType!=null">#{pojo.appType},</if>
            <if test="pojo.thirdId2!=null">#{pojo.thirdId2},</if>
            <if test="pojo.extra!=null">#{pojo.extra},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now()),
        </trim>
    </insert>

    <update id="update">
        UPDATE `UserThirdPartyDetail`
        SET
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="pojo.thirdType!=null">`thirdType` = #{pojo.thirdType},</if>
            <if test="pojo.thirdId!=null">`thirdId` = #{pojo.thirdId},</if>
            <if test="pojo.appType!=null">`appType` = #{pojo.appType},</if>
            <if test="pojo.thirdId2!=null">`thirdId2` = #{pojo.thirdId2},</if>
            <if test="pojo.extra!=null">`extra` = #{pojo.extra},</if>
            UNIX_TIMESTAMP(now()),
        </trim>
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE `UserThirdPartyDetail`
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="delByThirdId" parameterType="java.lang.Long">
        UPDATE `UserThirdPartyDetail`
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `isDeleted` = 0
          and `thirdId` = #{thirdId}
          and `thirdType` = #{thirdType}
        LIMIT 1
    </update>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `UserThirdPartyDetail`
        where `isDeleted` = 0
        <if test="id != null"> AND `id` != #{pojo.id} </if>
        <if test="thirdType!=null"> AND `thirdType` = #{pojo.thirdType},</if>
        <if test="thirdId!=null"> AND `thirdId` = #{pojo.thirdId},</if>
        <if test="appType!=null"> AND `appType` = #{pojo.appType},</if>
        <if test="thirdId2!=null"> AND `thirdId2` = #{pojo.thirdId2},</if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `UserThirdPartyDetail`
        where `isDeleted` = 0
        <if test="id != null"> AND `id` != #{id} </if>
        <if test="thirdType!=null"> AND `thirdType` = #{pojo.thirdType},</if>
        <if test="thirdId!=null"> AND `thirdId` = #{pojo.thirdId},</if>
        <if test="appType!=null"> AND `appType` = #{pojo.appType},</if>
        <if test="thirdId2!=null"> AND `thirdId2` = #{pojo.thirdId2},</if>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `UserThirdPartyDetail`
        where `isDeleted` = 0
        <if test="id != null"> AND `id` != #{id} </if>
        <if test="thirdType!=null"> AND `thirdType` = #{pojo.thirdType},</if>
        <if test="thirdId!=null"> AND `thirdId` = #{pojo.thirdId},</if>
        <if test="appType!=null"> AND `appType` = #{pojo.appType},</if>
        <if test="thirdId2!=null"> AND `thirdId2` = #{pojo.thirdId2},</if>
        order by `id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageCommon">
        <choose>
            <when test="startRow != null and startRow gt -1 and limitNum != null and limitNum gt 0">
                limit #{startRow}, #{limitNum}
            </when>
            <otherwise>
                limit 20
            </otherwise>
        </choose>
    </sql>
</mapper>