<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xingyi.logistic.db.dao.WashDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.xingyi.logistic.db.dataobject.wash.WashDO">
        <result column="id" property="id"/>
        <result column="car_no" property="carNo"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="exit_time" property="exitTime"/>
        <result column="amount" property="amount"/>
        <result column="car_type" property="carType"/>
        <result column="wash_type" property="washType"/>
        <result column="status" property="status"/>
        <result column="vip_type" property="vipType"/>
        <result column="wash_date" property="washDate"/>
        <result column="memo" property="memo"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `car_no`,
        `start_time`,
        `end_time`,
        `exit_time`,
        `amount`,
        `car_type`,
        `wash_type`,
        `status`,
        `vip_type`,
        `wash_date`,
        `memo`,
        `created`,
        `updated`
    </sql>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO wash_history (
            `car_no`,
            <if test="pojo.amount!=null"> `amount`,</if>
            <if test="pojo.carType!=null"> `car_type`,</if>
            <if test="pojo.washType!=null"> `wash_type`,</if>
            <if test="pojo.vipType!=null"> `vip_type`,</if>
            <if test="pojo.memo!=null"> `memo`,</if>
            `wash_date`,
            `created`,
            `updated`
        )
        VALUES (
            #{pojo.carNo},
            <if test="pojo.amount!=null">#{pojo.amount},</if>
            <if test="pojo.carType!=null">#{pojo.carType},</if>
            <if test="pojo.washType!=null">#{pojo.washType},</if>
            <if test="pojo.vipType!=null">#{pojo.vipType},</if>
            <if test="pojo.memo!=null">#{pojo.memo},</if>
            CURRENT_DATE,
            <choose>
                <when test="pojo.created != null">
                    #{pojo.created},
                </when>
                <otherwise>
                    UNIX_TIMESTAMP(now()),
                </otherwise>
            </choose>
            UNIX_TIMESTAMP(now())
        )
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE wash_history
        <set>
            <if test="pojo.carNo != null"> `car_no` = #{pojo.carNo}, </if>
            <if test="pojo.status != null and pojo.status == 10"> `start_time` = UNIX_TIMESTAMP(now()), </if>
            <if test="pojo.status != null and pojo.status == 20"> `end_time` = UNIX_TIMESTAMP(now()), </if>
            <if test="pojo.status != null and pojo.status == 30"> `exit_time` = UNIX_TIMESTAMP(now()), </if>
            <if test="pojo.amount != null"> `amount` = #{pojo.amount}, </if>
            <if test="pojo.carType != null"> `car_type` = #{pojo.carType}, </if>
            <if test="pojo.washType != null"> `wash_type` = #{pojo.washType}, </if>
            <if test="pojo.status != null"> `status` = #{pojo.status}, </if>
            <if test="pojo.vipType != null"> `vip_type` = #{pojo.vipType}, </if>
            <if test="pojo.washDate != null"> `wash_date` = #{pojo.washDate}, </if>
            <if test="pojo.memo != null"> `memo` = #{pojo.memo}, </if>
            `updated` = UNIX_TIMESTAMP(now())
        </set>
        WHERE id = #{pojo.id}
    </update>

    <delete id="delById" parameterType="java.lang.Integer">
        delete from wash_history
        where `id` = #{id}
        limit 1
    </delete>

    <select id="querySingle" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from wash_history
        <include refid="whereCarNoExactMatch"/>
        limit 1
    </select>

    <select id="querySingleNotFinished" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from wash_history
        WHERE status &lt; 30 and `car_no` = #{pojo.carNo}
        order by id desc
        limit 1
    </select>

    <select id="querySingleExcludeCurrentId" resultMap="AllColumnMap" parameterType="Map" >
        SELECT  <include refid="all_column"/>
        FROM  `wash_history`
        where `car_no` = #{pojo.carNo} and `id` != #{pojo.id} and `status` &lt; 30
        order by `id` desc
        limit 1
    </select>

    <select id="queryCount" resultType="java.lang.Integer" parameterType="Map">
        select count(1)
        from wash_history
        <include refid="whereCarNoFuzzyMatch"/>
    </select>

    <select id="queryAll" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from wash_history
        <include refid="whereCarNoFuzzyMatch"/>
        order by id desc
        <include refid="pageCommon"/>
    </select>

    <!-- 查询车辆洗车历史次数 -->
    <select id="queryCountByCarNo" resultType="java.lang.Integer" parameterType="Map">
        select count(1)
        from wash_history
        where `car_no` = #{carNo}
          and `status` &gt; 20
    </select>

    <sql id="whereCarNoExactMatch">
        WHERE 1=1
        <if test="pojo.id != null"> and `id` = #{pojo.id} </if>
        <if test="pojo.carNo != null"> and `car_no` = #{pojo.carNo} </if>
    </sql>

    <sql id="whereCarNoFuzzyMatch">
        WHERE 1=1
        <if test="pojo.carNo != null"> and `car_no` like concat('%', #{pojo.carNo}, '%') </if>
        <if test="pojo.flag != null and pojo.flag == 0"> and `status` &lt; 30 </if>
    </sql>

    <sql id="pageCommon">
        <if test="pojo.start != null and pojo.start gt -1 and pojo.limit != null and pojo.limit gt 0">
            limit #{pojo.start}, #{pojo.limit}
        </if>
    </sql>
</mapper>

