<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szmtjk.business.db.dao.UserDAO">
    <resultMap id="AllColumnMap" class="com.szmtjk.business.db.entity.UserDO">
        <result property="id" column="ID"/>
        <result property="userName" column="USERNAME"/>
        <result property="userPass" column="USERPASS"/>
        <result property="mobile" column="MOBILE"/>
        <result property="created" column="CREATED"/>
        <result property="updated" column="UPDATED"/>
        <result property="isDeleted" column="ISDELETED"/>
    </resultMap>

    <sql id="all_column">
        `ID`
        ,`USERNAME`
        ,`USERPASS`
        ,`MOBILE`
        ,`CREATED`
        ,`UPDATED`
        ,`ISDELETED`
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `User`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            USERNAME,
            USERPASS,
            MOBILE,
            CREATED,
            UPDATED,
            ISDELETED,
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName!=null">#{userName},</if>
            <if test="userPass!=null">#{userPass},</if>
            <if test="mobile!=null">#{mobile},</if>
            UNIX_TIMESTAMP(now()),
            UNIX_TIMESTAMP(now()),
            <if test="isDeleted!=null">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="update">
        UPDATE `User`
        SET
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="userName!=null">`USERNAME` = #{userName},</if>
            <if test="userPass!=null">`USERPASS` = #{userPass},</if>
            <if test="mobile!=null">`MOBILE` = #{mobile},</if>
            UNIX_TIMESTAMP(now()),
            <if test="isDeleted!=null">`ISDELETED` = #{isDeleted},</if>
        </trim>
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <update id="del" parameterType="java.lang.Long">
        UPDATE `User`
        SET `isDeleted` = 1 ,
        `updated` = UNIX_TIMESTAMP(now())
        WHERE `id` = #{id} and `isDeleted` = 0
        LIMIT 1
    </update>

    <select id="getExistCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `User`
        where `isDeleted` = 0
        <if test="id != null"> AND `id` != #{id} </if>
        <if test="userName != null"> AND `userName` != #{userName} </if>
        <if test="mobile != null"> AND `mobile` != #{mobile} </if>
        limit 1
    </select>

    <select id="getCount" resultType="java.lang.Integer" parameterType="Map" >
        SELECT  count(id)
        FROM  `User`
        where `isDeleted` = 0
        <if test="userName != null"> AND `userName` != #{userName} </if>
        <if test="mobile != null"> AND `mobile` != #{mobile} </if>
        limit 1
    </select>

    <select id="queryByPage" resultMap="AllColumnMap" parameterType="Map">
        select <include refid="all_column"/>
        from `User`
        where `isDeleted` = 0
        <if test="userName != null"> AND `userName` != #{userName} </if>
        <if test="mobile != null"> AND `mobile` != #{mobile} </if>
        order by `id` desc
        <include refid="pageCommon"/>
    </select>

    <sql id="pageCommon">
        <choose>
        <when test="startRow != null and startRow gt -1 and limitNum != null and limitNum gt 0">
            limit #{startRow}, #{limitNum}
        </when>
        <otherwise>
            limit 200
        </otherwise>
        </choose>
    </sql>
</mapper>